initfiles/componentfiles/configxml/cassandraloggingagent.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
################################################################################
#    HPCC SYSTEMS software Copyright (C) 2016 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
################################################################################
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="environment.xsd"/>
  <xs:element name="CassandraLoggingAgent">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
            <title>Cassandra Logging Agent</title>
        </xs:appinfo>
      </xs:annotation>
      <!-- All SecurityManager Plugins must define the type="SecurityManager" attribute -->
      <xs:attribute name="type" type="DefaultLoggingAgent" use="required" default="DefaultLoggingAgent">
        <xs:annotation>
          <xs:appinfo>
            <viewType>hidden</viewType>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="build" type="buildType" use="required">
        <xs:annotation>
          <xs:appinfo>
            <viewType>hidden</viewType>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="buildSet" type="buildSetType" use="required">
        <xs:annotation>
          <xs:appinfo>
            <viewType>hidden</viewType>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Name for this logging agent</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="description" type="xs:string" use="optional" default="Cassandra Logging Agent">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Description for this logging agent</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Services" type="xs:string" use="optional" default="GetTransactionSeed,UpdateLog">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>the names of logging services to be supported in this logging agent.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTriesGTS" type="xs:nonNegativeInteger" use="optional" default="3">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Maximum retries of sending GetTransactionSeed requests when failed to get a response.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTriesRS" type="xs:nonNegativeInteger" use="optional" default="3">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Maximum retries of sending LogUpdate requests when failed to get a response.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxLogQueueLength" type="xs:nonNegativeInteger" use="optional" default="500000">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>maximum queue length for log update requests.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="QueueSizeSignal" type="xs:nonNegativeInteger" use="optional" default="10000">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Add warning to esp log when the queue length of log update requests reaches this value.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FailSafe" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Enable FailSafe functionality.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FailSafeLogsDir" type="xs:string" use="optional" default="">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Log directory where Failsafe files are stored.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="logSourcePath" type="xs:string" use="required">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>The xpath inside a log request for LogSource.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="defaultTransaction" type="xs:string" use="optional" default="">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>if no applicaqtion name is given, which applicaqtion name should be used to get a transaction seed?</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="loggingTransaction" type="xs:string" use="optional" default="">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>The applicaqtion name used to get a transaction seed for this logging agent.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="Cassandra"/>
      <xs:element name="LogSourceMap" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <title>Log Source Map</title>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>1</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mapToDB" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>2</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mapToLogGroup" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>3</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="LogGroup" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <title>Log Group</title>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FieldMap" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <viewType>list</viewType>
                  <title>Field Map</title>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:appinfo>
                      <colIndex>1</colIndex>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="mapTo" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:appinfo>
                      <colIndex>2</colIndex>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="xs:string" use="required" default="string">
                  <xs:annotation>
                    <xs:appinfo>
                      <colIndex>3</colIndex>
                    </xs:appinfo>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="string"/>
                      <xs:enumeration value="numeric"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="default" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:appinfo>
                      <colIndex>4</colIndex>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>1</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="Cassandra">
    <xs:attribute name="Cassandra" type="cassandraType" use="required">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Specifies the Cassandra process.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serverIP" type="xs:string" use="required">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Specifies the network address of the data store server.</tooltip>
          <required>true</required>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    
    <xs:attribute name="ksName" type="xs:string" use="optional" >
      <xs:annotation>
         <xs:appinfo>
           <tooltip>Specifies the name of the keyspace in the data store server.</tooltip>
           <required>true</required>
         </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="userName" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Specifies the user name for accessing the data store server.</tooltip>
          <required>true</required>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="userPassword" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:appinfo>
          <viewType>password</viewType>
          <tooltip>Specifies the user's password for accessing the data store server.</tooltip>
          <required>true</required>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
