initfiles/componentfiles/configxml/dfuserver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
#    HPCC SYSTEMS software Copyright (C) 2012 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
################################################################################
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="DfuServerProcess">
        <xs:annotation>
            <xs:documentation>Describes a DFU server installation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
        <!--DOC-Autobuild-code-->
        <xs:annotation>
	  <xs:appinfo>
	     <docid>DF.t1</docid>
	  </xs:appinfo>
	</xs:annotation>
            <xs:sequence>
                <xs:element name="SSH">
                    <xs:annotation>
                        <xs:appinfo>
                            <title>SSH Options</title>
                            <tooltip>Options for using SSH remote execution</tooltip>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                    <!--DOC-Autobuild-code--> 	
		    <xs:annotation>
		    	<xs:appinfo>
		    	   <docid>DF.t2</docid>
		    	</xs:appinfo>
		    </xs:annotation>
                        <xs:attribute name="SSHidentityfile" type="xs:string" use="optional" default="$HOME/.ssh/id_rsa">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>location of identity file (private key) on Thor master</tooltip>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="SSHusername" type="xs:string"  use="optional" default="hpcc">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>Username to use when running Thor slaves</tooltip>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="SSHpassword" type="xs:string"  use="optional" default="">
                            <xs:annotation>
                                <xs:appinfo>
                                    <viewType>password</viewType>
                                    <tooltip>Fixed password - only required if no identity file present NB **insecure**</tooltip>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="SSHtimeout" type="xs:nonNegativeInteger" use="optional" default="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>Timeout in seconds for SSH connects</tooltip>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="SSHretries" type="xs:nonNegativeInteger" use="optional" default="3">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>Number of times to retry failed connect</tooltip>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Instance" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <viewType>instance</viewType>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="computer" type="computerType" use="required">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="netAddress" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <viewType>readonly</viewType>
                                    <colIndex>2</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="directory" type="absolutePath" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <viewType>hidden</viewType>
                                    <colIndex>3</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Notes" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <viewChildNodes>true</viewChildNodes>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="severity" use="optional" default="Minor">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>Significance of this note.</tooltip>
                                    <title>Severity</title>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Minor"/>
                                    <xs:enumeration value="Normal"/>
                                    <xs:enumeration value="Critical"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>                     
                        <xs:attribute name="date" type="AutoTimeStampType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>Date / Time</title>
                                    <tooltip>Date and time this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <width>120</width>
                                    <colIndex>2</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="computer" type="AutoComputerType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>Computer</title>
                                    <tooltip>Computer from which this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <colIndex>3</colIndex>                  
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="user" type="AutoUseridType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>User</title>
                                    <tooltip>User account from which this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <colIndex>4</colIndex>                  
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional" default="dfuserver">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Name for this process</tooltip>
                        <required>true</required>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" default="DFU Server">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="daliServers" type="daliServersType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <autogenforwizard>1</autogenforwizard>
                        <tooltip>Specifies the dali server to which this DFU server is attached.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="queue" type="xs:string" use="optional" default="dfuserver_queue">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Specifies the queue name to send DFU Server jobs to.</tooltip>
                        <required>true</required>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="monitorqueue" type="xs:string" use="optional" default="dfuserver_monitor_queue">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Specifies the queue name to send DFU monitoring jobs to.</tooltip>
                        <required>true</required>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="monitorinterval" type="xs:nonNegativeInteger" use="optional" default="900">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Specifies the polling interval for DFU monitoring (in seconds).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="transferBufferSize" type="xs:nonNegativeInteger" use="optional" default="1048576">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default buffer size used when transferring data.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
