initfiles/componentfiles/configxml/eclagent_config.xsd.in

<!--

## Copyright © 2011 HPCC Systems.  All rights reserved.
-->

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Rajeev Moondhra (Seisint, Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:seisint="http://seisint.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="EclAgentProcess">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Instance" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <viewType>instance</viewType>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="computer" type="computerType" use="required">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="netAddress" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>2</colIndex>
                                    <viewType>readonly</viewType>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="directory" type="xs:string" use="optional" default="c$\eclagent">
                            <xs:annotation>
                                <xs:appinfo>
                                    <viewType>hidden</viewType>
                                    <colIndex>3</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Notes" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <viewChildNodes>true</viewChildNodes>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="severity" use="optional" default="Minor">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>Significance of this note.</tooltip>
                                    <title>Severity</title>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Minor"/>
                                    <xs:enumeration value="Normal"/>
                                    <xs:enumeration value="Critical"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>                     
                        <xs:attribute name="date" type="AutoTimeStampType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>Date / Time</title>
                                    <tooltip>Date and time this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <width>120</width>
                                    <colIndex>2</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="computer" type="AutoComputerType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>Computer</title>
                                    <tooltip>Computer from which this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <colIndex>3</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="user" type="AutoUseridType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>User</title>
                                    <tooltip>User account from which this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <colIndex>4</colIndex>                  
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The component within the build</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Name for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" default="EclAgent process">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="Options"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="Options">
        <xs:annotation>
            <xs:appinfo>
                <title>Options</title>
                <tooltip>Options</tooltip>
            </xs:appinfo>
        </xs:annotation>

    <xs:attribute name="allowedPipePrograms" type="xs:string" use="optional" default="*">
            <xs:annotation>
                <xs:appinfo>
                    <tab>Eclagent</tab>
                    <tooltip>Comma separated list of allowed PIPE programs (* for allow all)</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>

    <xs:attribute name="daliServers" type="daliServersType" use="required">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Specifies the dali server to which this eclagent is attached.</tooltip>
          <autogenforwizard>1</autogenforwizard>
          </xs:appinfo>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="pluginDirectory" type="absolutePath" use="optional" default="${PLUGINS_PATH}/">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Directory where plugins are located</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="traceLevel" type="nonNegativeInteger" use="optional" default="0">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Trace level</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="thorConnectTimeout" type="nonNegativeInteger" use="optional" default="600">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Default connection timeout when sending query to Thor</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="wuQueueName" type="xs:string" use="optional" default="">
      <xs:annotation>
        <xs:appinfo>
          <tab>Eclagent</tab>
          <tooltip>eclAgent Workunit Execution Queue Name</tooltip>
          <autogenforwizard>1</autogenforwizard>
          <autogensuffix>_queue</autogensuffix>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

</xs:schema>
