initfiles/componentfiles/configxml/eclccserver.xsd

<!--

## Copyright © 2011 HPCC Systems.  All rights reserved.
-->

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Rajeev Moondhra (Seisint, Inc.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="EclCCserver">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <title>Options</title>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="value" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>2</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="cluster" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>3</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>              
                    </xs:complexType>
                </xs:element>
                <xs:element name="Instance" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <viewType>Instance</viewType>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="computer" type="computerType" use="required">
                            <xs:annotation>
                                <xs:appinfo>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="netAddress" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <viewType>readonly</viewType>
                                    <colIndex>2</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="directory" type="absolutePath" use="optional" default="c$\ecl">
                            <xs:annotation>
                                <xs:appinfo>
                                    <viewType>hidden</viewType>
                                    <colIndex>3</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Notes" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo>
                            <viewChildNodes>true</viewChildNodes>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="severity" use="optional" default="Minor">
                            <xs:annotation>
                                <xs:appinfo>
                                    <tooltip>Significance of this note.</tooltip>
                                    <title>Severity</title>
                                    <colIndex>1</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Minor"/>
                                    <xs:enumeration value="Normal"/>
                                    <xs:enumeration value="Critical"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="date" type="AutoTimeStampType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>Date / Time</title>
                                    <tooltip>Date and time this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <width>120</width>
                                    <colIndex>2</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="computer" type="AutoComputerType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>Computer</title>
                                    <tooltip>Computer from which this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <colIndex>3</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="user" type="AutoUseridType" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <title>User</title>
                                    <tooltip>User account from which this note was entered</tooltip>
                                    <viewType>readonly</viewType>
                                    <colIndex>4</colIndex>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional" default="eclccserver">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Name for this process</tooltip>
                        <required>true</required>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" default="EclCCServer process">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="daliServers" type="daliServersType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <autogenforwizard>1</autogenforwizard>
                        <tooltip>Specifies the dali server to which this eclccserver is attached.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="enableSysLog" type="xs:boolean" use="optional" default="true">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Enables syslog monitoring of the eclccserver process.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="traceLevel" type="xs:nonNegativeInteger" use="optional" default="1"/>
            <xs:attribute name="maxCompileThreads" type="xs:nonNegativeInteger" use="optional" default="4">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Number of compile threads.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
