initfiles/componentfiles/configxml/esp_service_ecldirect.xsd

<!--

## Copyright © 2011 HPCC Systems.  All rights reserved.
-->

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Flavio Villanustre (Seisint, Inc.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="EspService">
        <xs:complexType>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional" default="ecldirect">
                <xs:annotation>
                    <xs:appinfo>
                        <required>true</required>
                        <tooltip>Name for this ESP service</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" default="ESP service for running raw ECL queries">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="clusterName" type="xs:string" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Names the cluster that jobs will be submitted to</tooltip>
                        <autogenforwizard>1</autogenforwizard>
                        <autogendefaultvalue>$hthorcluster</autogendefaultvalue>            
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
