initfiles/componentfiles/configxml/esploggingagent.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
################################################################################
#    Copyright (C) 2014 HPCC Systems.
#
#    All rights reserved.
################################################################################
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="environment.xsd"/>

  <xs:element name="ESPLoggingAgent">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
            <title>ESP Logging Agent</title>
        </xs:appinfo>
      </xs:annotation>
      <!-- All logging agent Plugins must define the type="DefaultLoggingAgent" attribute -->
      <xs:attribute name="type" type="DefaultLoggingAgent" use="required" default="DefaultLoggingAgent">
        <xs:annotation>
          <xs:appinfo>
            <viewType>hidden</viewType>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="build" type="buildType" use="required">
        <xs:annotation>
          <xs:appinfo>
            <viewType>hidden</viewType>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="buildSet" type="buildSetType" use="required">
        <xs:annotation>
          <xs:appinfo>
            <viewType>hidden</viewType>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Name for this agent</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Services" type="xs:string" use="optional" default="GetTransactionSeed,UpdateLog,GetTransactionID">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>the names of logging services to be supported in this logging agent.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="description" type="xs:string" use="optional" default="ESP Logging Agent">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Description for this process</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="DecoupledLogging"/>
      <xs:attribute name="MaxServerWaitingSeconds" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>timeout for waiting ESP server response.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTriesGTS" type="xs:nonNegativeInteger" use="optional" default="3">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>maximum times of resending GetTransactionSeed requests after a failure.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTriesRS" type="xs:nonNegativeInteger" use="optional" default="3">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>maximum times of resending log update requests after a failure.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxLogQueueLength" type="xs:nonNegativeInteger" use="optional" default="500000">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>maximum queue length for log update requests.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="QueueSizeSignal" type="xs:nonNegativeInteger" use="optional" default="10000">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Add warning to esp log when the queue length of log update requests reaches this value.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FailSafe" type="xs:boolean" use="optional" default="true">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Enable FailSafe functionality.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FailSafeLogsDir" type="xs:string" use="optional" default="">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Log directory where Failsafe files are stored.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SafeRolloverThreshold" type="xs:string" use="required">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>The threshold at which a new tank file will be started: n for number of requests, nK, nM, nG, or nT for file size.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTransIDLength" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Maximum length of a transaction ID. The 0 means no limit.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTransIDSequenceNumber" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Maximum sequence number in a transaction ID. The 0 means no limit. </tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxTransSeedTimeoutMinutes" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>How many minutes a TransSeed is timed out. The 0 means no limit.</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:element name="LogGroup" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <title>Log Group</title>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="MaxTransIDLength" type="xs:nonNegativeInteger" use="optional">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>2</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxTransIDSequenceNumber" type="xs:nonNegativeInteger" use="optional">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>3</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxTransSeedTimeoutMinutes" type="xs:nonNegativeInteger" use="optional">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>4</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="LogSourceMap" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <title>Log Source Map</title>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>1</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mapToDB" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>2</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mapToLogGroup" type="xs:string" use="required">
            <xs:annotation>
              <xs:appinfo>
                <colIndex>3</colIndex>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:sequence>
        <xs:element name="Filter" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <title>Filters</title>
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="filter" type="relativePath" use="required">
              <xs:annotation>
                <xs:appinfo>
                  <colIndex>1</colIndex>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="type" use="optional">
              <xs:annotation>
                <xs:appinfo>
                  <colIndex>2</colIndex>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="ESPContext"/>
                  <xs:enumeration value="UserContext"/>
                  <xs:enumeration value="UserRequest"/>
                  <xs:enumeration value="UserResponse"/>
                  <xs:enumeration value="BackEndResponse"/>
                 </xs:restriction>
               </xs:simpleType>              
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="ESPServer"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="ESPServer">
    <xs:attribute name="ESPLoggingUrl" type="xs:string" use="optional" default="">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>The URL of a remote ESP service the logging request is sent to.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ESPServer" type="espprocessType" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Specifies the ESPServer process.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="User" type="xs:string" use="optional" default="">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Specifies the user name for accessing the ESPServer.</tooltip>
          <required>true</required>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Password" type="xs:string" use="optional" default="">
      <xs:annotation>
        <xs:appinfo>
          <viewType>password</viewType>
          <tooltip>Specifies the user's password for accessing the ESPServer.</tooltip>
          <required>true</required>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="DecoupledLogging">
    <xs:attribute name="AckedFiles" type="xs:string" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>A file listing the tank file names which have been acked in a Logging Agent.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="AckedLogRequests" type="xs:string" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>A file listing the Log Request GUIDs which have been acked in a Logging Agent.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ReadRequestWaitingSeconds" type="xs:nonNegativeInteger" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Define how often a Logging thread checks logging requests from tank files.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PendingLogBufferSize" type="xs:nonNegativeInteger" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <tooltip>Buffer size of Pending Logging requests. The buffer will be flushed when reaching the size.</tooltip>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
