initfiles/componentfiles/configxml/espsmcservice.xsd.in

<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
#    HPCC SYSTEMS software Copyright (C) 2012 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
################################################################################
-->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Richard (Seisint, Inc.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="EspService">
        <xs:complexType>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional" default="espsmc">
                <xs:annotation>
                    <xs:appinfo>
                        <required>true</required>
                        <tooltip>Name for this ESP service</tooltip>
                        <autogenforwizard>1</autogenforwizard>
                        <autogendefaultvalue>EclWatch</autogendefaultvalue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
                <xs:annotation>
                    <xs:appinfo>
                        <!--DOCS_Autobuild_Code-->
                        <docid>SMC-T01</docid>
                    </xs:appinfo>
                </xs:annotation>
            <xs:attribute name="description" type="xs:string" use="optional" default="ESP services for SMC">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="syntaxCheckQueue" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Queue Name of ECL server which is used for ECL Syntax Check</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pluginsPath" type="relativePath" use="optional" default="${PLUGINS_PATH}">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Path where plugin files are deployed</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="viewTimeout" type="xs:nonNegativeInteger" use="optional" default="1000">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for XXXX (in seconds).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="clusterQueryStateThreadPoolSize" type="xs:nonNegativeInteger" use="optional" default="25">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default thread pool size for checking query state on clusters</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="AWUsCacheTimeout" type="xs:nonNegativeInteger" use="optional" default="15">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for archived WU search cache (in minutes).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NodeGroupCacheMinutes" type="xs:nonNegativeInteger" use="optional" default="30">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for node group cache (in minutes).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ActivityInfoCacheSeconds" type="xs:nonNegativeInteger" use="optional" default="10">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>If user makes a request and the cache is older than this value (in seconds), ESP returns the cache and starts to rebuild a new cache.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ActivityInfoCacheAutoRebuildSeconds" type="xs:nonNegativeInteger" use="optional" default="120">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>When idle, ESP automatically rebuilds the cache if this value (in seconds) exceeded.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MachineUsageCacheMinutes" type="xs:nonNegativeInteger" use="optional" default="3">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for Component/TargerCluster/NodeGroup usage cache (in minutes).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MachineUsageCacheAutoRebuildMinutes" type="xs:nonNegativeInteger" use="optional" default="10">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>When idle, ESP automatically rebuilds the cache if this value (in minutes) is exceeded.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="serverForArchivedECLWU" type="sashaServerType" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Specify Sasha server for archiving ECL workunits</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="enableSystemUseRewrite" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>To disable ESP Service links for System Servers that use rewrite rules.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="defaultTargetCluster" type="topologyClusterType" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default target for published queries</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="disableUppercaseTranslation" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>To disable upper case translation for filter values in ViewKeyFile function.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ZAPEmailTo" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default email address to receive ZAP Report email</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ZAPEmailFrom" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default email address to send ZAP Report email from</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ZAPEmailServer" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default Email Server URL to handle ZAP Report email</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ZAPEmailServerPort" type="xs:nonNegativeInteger" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Default Email Server port to handle ZAP Report email</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>ZAPEmailMaxAttachmentSize
            <xs:attribute name="ZAPEmailMaxAttachmentSize" type="xs:nonNegativeInteger" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Maximal attachment size in ZAP Report email</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ThorSlaveLogThreadPoolSize" type="xs:nonNegativeInteger" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Thread pool size for getting thor slave logs.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="WUResultMaxSizeMB" type="xs:nonNegativeInteger" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>the size limit in megabyte for getting workunit result.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="WUResultDownloadFlushThreshold" type="xs:nonNegativeInteger" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>When streamly downloading WUResult, WUResult buffer will be flushed out if its size reaches this value.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="enableLogDaliConnection" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Enable ESP/Dali Connection ID to be logged into esp.xml.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
                        <xs:attribute name="allowNewRoxieOnDemandQuery" type="xs:boolean" use="optional" default="false">
                                <xs:annotation>
                                        <xs:appinfo>
                                                <tooltip>allow new queries to be used by roxie on demand and roxie browser</tooltip>
                                        </xs:appinfo>
                                </xs:annotation>
                        </xs:attribute>
                 <xs:attributeGroup ref="Monitoring"/>
                 <xs:attributeGroup ref="ELK Log Visualization"/>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="ELK Log Visualization">
         <xs:annotation>
             <xs:appinfo>
              <!--DOCS_Autobuild_Code-->
              <docid>SMC-T02</docid>
            </xs:appinfo>
         </xs:annotation>

        <xs:attribute name="integrateKibana" type="xs:boolean" use="required" default="false">
            <xs:annotation>
                <xs:appinfo>
                    <required>true</required>
                    <tooltip>Declare if Kibana dashboard is to be integrated in ECLWatch</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="kibanaAddress" type="xs:string" use="optional" default="localhost">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Address (ip/hostname) of Kibana server</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="kibanaPort" type="xs:nonNegativeInteger" use="optional" default="5601">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Port number of target Kibana server</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="kibanaEntryPointURI" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Declares the ECLWatch integration entry point URI for the target Kibana dashboard</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="reportLogStashHealth" type="xs:boolean" use="required" default="true">
            <xs:annotation>
                <xs:appinfo>
                    <required>true</required>
                    <tooltip>Declare if connectivity to LogStash nodes is to be reported in ECLWatch</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="logStashAddresses" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Declares the target LogStash nodes' addresses (semicolon seperated)</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="logStashPort" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Declares the target LogStash nodes' port</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="reportElasticHealth" type="xs:boolean" use="required" default="true">
            <xs:annotation>
                <xs:appinfo>
                    <required>true</required>
                    <tooltip>Declare if connectivity to Elastic Search nodes is to be reported in ECLWatch</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="elasticSearchAddresses" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Declares the target ElasticSearch nodes' addresses (semicolon seperated)</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="elasticSearchPort" type="xs:string" use="optional" default="9200">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Declares the target LogStash nodes' port</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="Monitoring">
         <xs:annotation>
            <xs:appinfo>
            <!--DOCS_Autobuild_Code-->
              <docid>SMC-T03</docid>
            </xs:appinfo>
         </xs:annotation>
        <xs:attribute name="monitorDaliFileServer" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:appinfo>
                    <required>true</required>
                    <tooltip>Warn if dafilesrv process is not running on computers</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="excludePartitions" type="xs:string" use="optional" default="/dev*,/sys,/proc/*">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Comma, space or semicolon delimited list of partitions not to be monitored for free space</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfCpuLoadOver" type="xs:nonNegativeInteger" use="optional" default="95">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>CPU load over this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfFreeStorageUnder" type="xs:nonNegativeInteger" use="optional" default="5">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Available disk storage space under this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfFreeMemoryUnder" type="xs:nonNegativeInteger" use="optional" default="5">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Available memory under this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>    
</xs:schema>
