initfiles/componentfiles/configxml/espsmcservice.xsd

<!--
################################################################################
#    Copyright (C) 2011 HPCC Systems.
#
#    All rights reserved. This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
################################################################################
-->

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Richard (Seisint, Inc.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="EspService">
        <xs:complexType>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional" default="eclwatch">
                <xs:annotation>
                    <xs:appinfo>
                        <required>true</required>
                        <tooltip>Name for this ESP service</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" default="ESP services for SMC">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="syntaxCheckQueue" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Queue Name of ECL server which is used for ECL Syntax Check</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
      <xs:attribute name="processesInPreflightCheck" type="xs:string" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <tooltip>Default Process Names to be included in Preflight Process Check</tooltip>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
            <xs:attribute name="pluginsPath" type="relativePath" use="optional" default="/opt/LexisNexis/plugins">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Path where plugin files are deployed</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="viewTimeout" type="xs:nonNegativeInteger" use="optional" default="1000">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for XXXX (in seconds).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="AWUsCacheTimeout" type="xs:nonNegativeInteger" use="optional" default="15">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for archived WU search cache (in minutes).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="enableSystemUseRewrite" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>To disable ESP Service links for System Servers that use rewrite rules.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="disableUppercaseTranslation" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>To disable upper case translation for filter values in ViewKeyFile function.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
                        <xs:attribute name="allowNewRoxieOnDemandQuery" type="xs:boolean" use="optional" default="false">
                                <xs:annotation>
                                        <xs:appinfo>
                                                <tooltip>allow new queries to be used by roxie on demand and roxie browser</tooltip>
                                        </xs:appinfo>
                                </xs:annotation>
                        </xs:attribute>
                 <xs:attributeGroup ref="Monitoring"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="Monitoring">
        <xs:attribute name="monitorDaliFileServer" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:appinfo>
                    <required>true</required>
                    <tooltip>Warn if dafilesrv process is not running on computers</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="excludePartitions" type="xs:string" use="optional" default="/,/dev*,/sys,/usr,/proc/*">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Comma, space or semicolon delimited list of partitions not to be monitored for free space</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfCpuLoadOver" type="xs:nonNegativeInteger" use="optional" default="95">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>CPU load over this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfFreeStorageUnder" type="xs:nonNegativeInteger" use="optional" default="5">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Available disk storage space under this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfFreeMemoryUnder" type="xs:nonNegativeInteger" use="optional" default="5">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Available memory under this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>    
</xs:schema>
