initfiles/componentfiles/configxml/espsmcservice.xsd.in

<!--

## Copyright © 2011 HPCC Systems.  All rights reserved.
-->

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Richard (Seisint, Inc.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="environment.xsd"/>
    <xs:element name="EspService">
        <xs:complexType>
            <xs:attribute name="build" type="buildType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>The build name to be deployed</tooltip>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="buildSet" type="buildSetType" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <viewType>hidden</viewType>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional" default="espsmc">
                <xs:annotation>
                    <xs:appinfo>
                        <required>true</required>
                        <tooltip>Name for this ESP service</tooltip>
                        <autogenforwizard>1</autogenforwizard>
                        <autogendefaultvalue>EclWatch</autogendefaultvalue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" default="ESP services for SMC">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Description for this process</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="eclServer" type="eclCCServerType" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Name of the ECLCC server or job server where the jobs are dispatched</tooltip>
                        <autogenforwizard>1</autogenforwizard>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="syntaxCheckQueue" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Queue Name of ECL server which is used for ECL Syntax Check</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pluginsPath" type="relativePath" use="optional" default="${PLUGINS_PATH}">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>Path where plugin files are deployed</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="viewTimeout" type="xs:nonNegativeInteger" use="optional" default="1000">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for XXXX (in seconds).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="AWUsCacheTimeout" type="xs:nonNegativeInteger" use="optional" default="15">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>timeout for archived WU search cache (in minutes).</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="enableSystemUseRewrite" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>To disable ESP Service links for System Servers that use rewrite rules.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="disableUppercaseTranslation" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <tooltip>To disable upper case translation for filter values in ViewKeyFile function.</tooltip>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
                        <xs:attribute name="allowNewRoxieOnDemandQuery" type="xs:boolean" use="optional" default="false">
                                <xs:annotation>
                                        <xs:appinfo>
                                                <tooltip>allow new queries to be used by roxie on demand and roxie browser</tooltip>
                                        </xs:appinfo>
                                </xs:annotation>
                        </xs:attribute>
                 <xs:attributeGroup ref="Monitoring"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="Monitoring">
        <xs:attribute name="monitorDaliFileServer" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:appinfo>
                    <required>true</required>
                    <tooltip>Warn if dafilesrv process is not running on computers</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="excludePartitions" type="xs:string" use="optional" default="/dev*,/sys,/proc/*">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Comma, space or semicolon delimited list of partitions not to be monitored for free space</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfCpuLoadOver" type="xs:nonNegativeInteger" use="optional" default="95">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>CPU load over this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfFreeStorageUnder" type="xs:nonNegativeInteger" use="optional" default="5">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Available disk storage space under this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warnIfFreeMemoryUnder" type="xs:nonNegativeInteger" use="optional" default="5">
            <xs:annotation>
                <xs:appinfo>
                    <tooltip>Available memory under this value is flagged as warning in monitoring output</tooltip>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>    
</xs:schema>
