testing/esp/esdlcmd/baselines/wsdfu-tns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:test:sample:value:wsdfu" elementFormDefault="qualified" targetNamespace="urn:test:sample:value:wsdfu">
  <xsd:element name="string" nillable="true" type="xsd:string"/>
  <xsd:complexType name="EspException">
    <xsd:all>
      <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Audience" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Message" type="xsd:string" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfEspException">
    <xsd:sequence>
      <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Exception" type="tns:EspException" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Exceptions" type="tns:ArrayOfEspException"/>
  <xsd:simpleType name="DFUArrayActions">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Delete"/>
      <xsd:enumeration value="Add To Superfile"/>
      <xsd:enumeration value="Change Protection"/>
      <xsd:enumeration value="Change Restriction"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DFUChangeProtection">
    <xsd:annotation>
      <xsd:appinfo>
        <item name="0" description="No Change"/>
        <item name="1" description="Protect"/>
        <item name="2" description="Unprotect"/>
        <item name="3" description="UnprotectAll"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DFUChangeRestriction">
    <xsd:annotation>
      <xsd:appinfo>
        <item name="0" description="No Change"/>
        <item name="1" description="Restrict"/>
        <item name="2" description="Unrestricted"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DFUDefFileFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="xml"/>
      <xsd:enumeration value="def"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FileAccessRole">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Token"/>
      <xsd:enumeration value="Engine"/>
      <xsd:enumeration value="External"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SecAccessType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Access"/>
      <xsd:enumeration value="Read"/>
      <xsd:enumeration value="Write"/>
      <xsd:enumeration value="Full"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DFUFileType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Flat"/>
      <xsd:enumeration value="Index"/>
      <xsd:enumeration value="Xml"/>
      <xsd:enumeration value="Csv"/>
      <xsd:enumeration value="Json"/>
      <xsd:enumeration value="IndexLocal"/>
      <xsd:enumeration value="IndexPartitioned"/>
      <xsd:enumeration value="Unset"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DFUActionInfo">
    <xsd:all>
      <xsd:element minOccurs="0" name="FileName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ActionResult" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Failed" type="xsd:boolean"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUActionInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUActionInfo" type="tns:DFUActionInfo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUDataColumn">
    <xsd:all>
      <xsd:element minOccurs="0" name="ColumnID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ColumnLabel" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ColumnType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ColumnValue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ColumnSize" type="xsd:int"/>
      <xsd:element minOccurs="0" name="MaxSize" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ColumnEclType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ColumnRawSize" type="xsd:int"/>
      <xsd:element minOccurs="0" name="IsNaturalColumn" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="IsKeyedColumn" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="DataColumns" type="tns:ArrayOfDFUDataColumn"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUDataColumn">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUDataColumn" type="tns:DFUDataColumn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFileAccessRequestBase">
    <xsd:all>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
      <xsd:element minOccurs="0" name="JobId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ExpirySeconds" type="xsd:int" default="60"/>
      <xsd:element minOccurs="0" name="AccessRole" type="tns:FileAccessRole"/>
      <xsd:element minOccurs="0" name="AccessType" type="tns:SecAccessType"/>
      <xsd:element minOccurs="0" name="ReturnJsonTypeInfo" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="ReturnBinTypeInfo" type="xsd:boolean" default="false"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DFUPartLocation">
    <xsd:all>
      <xsd:element minOccurs="0" name="LocationIndex" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Host" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUPartLocation">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUPartLocation" type="tns:DFUPartLocation"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFileCopy">
    <xsd:all>
      <xsd:element minOccurs="0" name="CopyIndex" type="xsd:int"/>
      <xsd:element minOccurs="0" name="LocationIndex" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Path" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUFileCopy">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFileCopy" type="tns:DFUFileCopy"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFilePart">
    <xsd:all>
      <xsd:element minOccurs="0" name="PartIndex" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Copies" type="tns:ArrayOfDFUFileCopy"/>
      <xsd:element minOccurs="0" name="TopLevelKey" type="xsd:boolean" default="false"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUFilePart">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFilePart" type="tns:DFUFilePart"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFileAccessInfo">
    <xsd:all>
      <xsd:element minOccurs="0" name="MetaInfoBlob" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ExpiryTime" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NumParts" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FileLocations" type="tns:ArrayOfDFUPartLocation"/>
      <xsd:element minOccurs="0" name="FileParts" type="tns:ArrayOfDFUFilePart"/>
      <xsd:element minOccurs="0" name="RecordTypeInfoBin" type="xsd:binary"/>
      <xsd:element minOccurs="0" name="RecordTypeInfoJson" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fileAccessPort" type="xsd:int"/>
      <xsd:element minOccurs="0" name="fileAccessSSL" type="xsd:boolean"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DFULogicalFile">
    <xsd:all>
      <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ClusterName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Directory" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Parts" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Totalsize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RecordCount" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Modified" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LongSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LongRecordCount" type="xsd:string"/>
      <xsd:element minOccurs="0" name="isSuperfile" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="isZipfile" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="isDirectory" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="Replicate" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="IntSize" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="IntRecordCount" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="FromRoxieCluster" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BrowseData" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="IsKeyFile" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="IsCompressed" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="ContentType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CompressedFileSize" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="SuperOwners" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Persistent" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="IsProtected" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="KeyType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NumOfSubfiles" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Accessed" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFULogicalFile">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFULogicalFile" type="tns:DFULogicalFile"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFileStat">
    <xsd:all>
      <xsd:element minOccurs="0" name="MinSkew" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MaxSkew" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MinSkewInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="MaxSkewInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="MinSkewPart" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="MaxSkewPart" type="xsd:int64"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DFUPart">
    <xsd:all>
      <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Copy" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ActualSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Partsize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PartSizeInt64" type="xsd:int64"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUPart">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUPart" type="tns:DFUPart"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFilePartsOnCluster">
    <xsd:all>
      <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BaseDir" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReplicateDir" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Replicate" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="CanReplicate" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="DFUFileParts" type="tns:ArrayOfDFUPart"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUFilePartsOnCluster">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFilePartsOnCluster" type="tns:DFUFilePartsOnCluster"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFileProtect">
    <xsd:all>
      <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Count" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Modified" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUFileProtect">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFileProtect" type="tns:DFUFileProtect"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFilePartition">
    <xsd:all>
      <xsd:element minOccurs="0" name="FieldMask" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="FieldNames" type="tns:EspStringArray"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DFUFileBloom">
    <xsd:all>
      <xsd:element minOccurs="0" name="FieldMask" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="FieldNames" type="tns:EspStringArray"/>
      <xsd:element minOccurs="0" name="Limit" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="Probability" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUFileBloom">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFileBloom" type="tns:DFUFileBloom"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DFUFileDetail">
    <xsd:all>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Filename" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NumParts" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Dir" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PathMask" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Filesize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FileSizeInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="ActualSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RecordSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RecordCount" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RecordSizeInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="RecordCountInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="Wuid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
      <xsd:element minOccurs="0" name="JobName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Persistent" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Format" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MaxRecordSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CsvSeparate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CsvQuote" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CsvTerminate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CsvEscape" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Modified" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Ecl" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ZipFile" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="Stat" type="tns:DFUFileStat"/>
      <xsd:element minOccurs="0" name="DFUFileParts" type="tns:ArrayOfDFUPart"/>
      <xsd:element minOccurs="0" name="DFUFilePartsOnClusters" type="tns:ArrayOfDFUFilePartsOnCluster"/>
      <xsd:element minOccurs="0" name="isSuperfile" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="ShowFileContent" type="xsd:boolean" default="true"/>
      <xsd:element minOccurs="0" name="subfiles" type="tns:EspStringArray"/>
      <xsd:element minOccurs="0" name="Superfiles" type="tns:ArrayOfDFULogicalFile"/>
      <xsd:element minOccurs="0" name="ProtectList" type="tns:ArrayOfDFUFileProtect"/>
      <xsd:element minOccurs="0" name="FromRoxieCluster" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Graphs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ECLGraph" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="UserPermission" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ContentType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CompressedFileSize" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="PercentCompressed" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IsCompressed" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="IsRestricted" type="xsd:boolean" default="false"/>
      <xsd:element minOccurs="0" name="BrowseData" type="xsd:boolean" default="true"/>
      <xsd:element minOccurs="0" name="jsonInfo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="binInfo" type="xsd:binary"/>
      <xsd:element minOccurs="0" name="PackageID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Partition" type="tns:DFUFilePartition"/>
      <xsd:element minOccurs="0" name="Blooms" type="tns:ArrayOfDFUFileBloom"/>
      <xsd:element minOccurs="0" name="ExpireDays" type="xsd:int"/>
      <xsd:element minOccurs="0" name="KeyType" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DFUSpaceItem">
    <xsd:all>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NumOfFiles" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NumOfFilesUnknown" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TotalSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LargestFile" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LargestSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SmallestFile" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SmallestSize" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NumOfFilesInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="NumOfFilesUnknownInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="TotalSizeInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="LargestSizeInt64" type="xsd:int64"/>
      <xsd:element minOccurs="0" name="SmallestSizeInt64" type="xsd:int64"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfDFUSpaceItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUSpaceItem" type="tns:DFUSpaceItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="History">
    <xsd:all>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Timestamp" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Path" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Workunit" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="AddRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="dstname" type="xsd:string"/>
        <xsd:element minOccurs="0" name="xmlmap" type="xsd:binary"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddRemoteRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="dstname" type="xsd:string"/>
        <xsd:element minOccurs="0" name="srcname" type="xsd:string"/>
        <xsd:element minOccurs="0" name="srcdali" type="xsd:string"/>
        <xsd:element minOccurs="0" name="srcusername" type="xsd:string"/>
        <xsd:element minOccurs="0" name="srcpassword" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddtoSuperfileRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Superfile" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Subfiles" type="xsd:string"/>
        <xsd:element minOccurs="0" name="names" type="tns:EspStringArray"/>
        <xsd:element minOccurs="0" name="ExistingFile" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUArrayActionRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Type" type="tns:DFUArrayActions"/>
        <xsd:element minOccurs="0" name="NoDelete" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
        <xsd:element minOccurs="0" name="LogicalFiles" type="tns:EspStringArray"/>
        <xsd:element minOccurs="0" name="removeFromSuperfiles" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="removeRecursively" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="Protect" type="tns:DFUChangeProtection" default="0"/>
        <xsd:element minOccurs="0" name="Restrict" type="tns:DFUChangeRestriction" default="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUBrowseDataRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
        <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Start" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="Count" type="xsd:int"/>
        <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUDefFileRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Format" type="tns:DFUDefFileFormat"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileAccessRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="RequestBase" type="tns:DFUFileAccessRequestBase"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileAccessV2Request">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RequestId" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ExpirySeconds" type="xsd:int" default="60"/>
        <xsd:element minOccurs="0" name="ReturnTextResponse" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="SessionId" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="LockTimeoutMs" type="xsd:int" default="300000"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileCreateRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="ECLRecordDefinition" type="xsd:string"/>
        <xsd:element minOccurs="0" name="PartLocations" type="tns:EspStringArray"/>
        <xsd:element minOccurs="0" name="RequestBase" type="tns:DFUFileAccessRequestBase"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileCreateV2Request">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Type" type="tns:DFUFileType"/>
        <xsd:element minOccurs="0" name="ECLRecordDefinition" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RequestId" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ExpirySeconds" type="xsd:int" default="60"/>
        <xsd:element minOccurs="0" name="ReturnTextResponse" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="Compressed" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="SessionId" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="LockTimeoutMs" type="xsd:int" default="300000"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFilePublishRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="FileId" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Overwrite" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="FileDescriptorBlob" type="xsd:binary"/>
        <xsd:element minOccurs="0" name="SessionId" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="LockTimeoutMs" type="xsd:int" default="300000"/>
        <xsd:element minOccurs="0" name="ECLRecordDefinition" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RecordCount" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="FileSize" type="xsd:int64"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileViewRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Scope" type="xsd:string"/>
        <xsd:element minOccurs="0" name="IncludeSuperOwner" type="xsd:boolean"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUGetDataColumnsRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="OpenLogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64" default="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUGetFileMetaDataRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="LogicalFileName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="IncludeXmlSchema" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="AddHeaderInXmlSchema" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="IncludeXmlXPathSchema" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="AddHeaderInXmlXPathSchema" type="xsd:boolean" default="false"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUInfoRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="UpdateDescription" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="QuerySet" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Query" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FileName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FileDesc" type="xsd:string"/>
        <xsd:element minOccurs="0" name="IncludeJsonTypeInfo" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="IncludeBinTypeInfo" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="Protect" type="tns:DFUChangeProtection" default="0"/>
        <xsd:element minOccurs="0" name="Restrict" type="tns:DFUChangeRestriction" default="0"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUQueryRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ContentType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FileType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FileSizeFrom" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="FileSizeTo" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="FirstN" type="xsd:int" default="-1"/>
        <xsd:element minOccurs="0" name="FirstNType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="PageSize" type="xsd:int"/>
        <xsd:element minOccurs="0" name="PageStartFrom" type="xsd:int"/>
        <xsd:element minOccurs="0" name="Sortby" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Descending" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="OneLevelDirFileReturn" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="CacheHint" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="MaxNumberOfFiles" type="xsd:int"/>
        <xsd:element minOccurs="0" name="IncludeSuperOwner" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="StartAccessedTime" type="xsd:string"/>
        <xsd:element minOccurs="0" name="EndAccessedTime" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFURecordTypeInfoRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="IncludeJsonTypeInfo" type="xsd:boolean" default="true"/>
        <xsd:element minOccurs="0" name="IncludeBinTypeInfo" type="xsd:boolean" default="true"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUSearchRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="ShowExample" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUSearchDataRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="OpenLogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
        <xsd:element minOccurs="0" name="Start" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="Count" type="xsd:int"/>
        <xsd:element minOccurs="0" name="File" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Key" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean" default="true"/>
        <xsd:element minOccurs="0" name="RoxieSelections" type="xsd:boolean" default="true"/>
        <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="SelectedKey" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUSpaceRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="CountBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ScopeUnder" type="xsd:string"/>
        <xsd:element minOccurs="0" name="OwnerUnder" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Interval" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EclRecordTypeInfoRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Ecl" type="xsd:string"/>
        <xsd:element minOccurs="0" name="IncludeJsonTypeInfo" type="xsd:boolean" default="true"/>
        <xsd:element minOccurs="0" name="IncludeBinTypeInfo" type="xsd:boolean" default="true"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EraseHistoryRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListHistoryRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WsDfuPingRequest">
    <xsd:complexType>
      <xsd:all/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SavexmlRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SuperfileActionRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="action" type="xsd:string"/>
        <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
        <xsd:element minOccurs="0" name="subfiles" type="tns:EspStringArray"/>
        <xsd:element minOccurs="0" name="before" type="xsd:string"/>
        <xsd:element minOccurs="0" name="delete" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="removeSuperfile" type="xsd:boolean"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SuperfileListRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddResponse">
    <xsd:complexType>
      <xsd:all/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddRemoteResponse">
    <xsd:complexType>
      <xsd:all/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddtoSuperfileResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Subfiles" type="xsd:string"/>
        <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SubfileNames">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubfileName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUArrayActionResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RedirectTo" type="xsd:string"/>
        <xsd:element minOccurs="0" name="DFUArrayActionResult" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ActionResults" type="tns:ArrayOfDFUActionInfo"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUBrowseDataResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterForGoBack" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ColumnsHidden">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="ColumnHidden" type="tns:DFUDataColumn"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ColumnCount" type="xsd:int"/>
        <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
        <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Start" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Count" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="PageSize" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Total" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Result" type="xsd:string"/>
        <xsd:element minOccurs="0" name="MsgToDisplay" type="xsd:string"/>
        <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUDefFileResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="defFile" type="xsd:binary"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileAccessResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="AccessInfo" type="tns:DFUFileAccessInfo"/>
        <xsd:element minOccurs="0" name="Type" type="tns:DFUFileType"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileCreateResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="FileId" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Warning" type="xsd:string"/>
        <xsd:element minOccurs="0" name="AccessInfo" type="tns:DFUFileAccessInfo"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFilePublishResponse">
    <xsd:complexType>
      <xsd:all/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUFileViewResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="Scope" type="xsd:string"/>
        <xsd:element minOccurs="0" name="NumFiles" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="DFULogicalFiles" type="tns:ArrayOfDFULogicalFile"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUGetDataColumnsResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="RowCount" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUGetFileMetaDataResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="TotalColumnCount" type="xsd:int"/>
        <xsd:element minOccurs="0" name="KeyedColumnCount" type="xsd:int"/>
        <xsd:element minOccurs="0" name="DataColumns" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="XmlSchema" type="xsd:string"/>
        <xsd:element minOccurs="0" name="XmlXPathSchema" type="xsd:string"/>
        <xsd:element minOccurs="0" name="TotalResultRows" type="xsd:int64"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUInfoResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="FileDetail" type="tns:DFUFileDetail"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUQueryResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="DFULogicalFiles" type="tns:ArrayOfDFULogicalFile"/>
        <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FileType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FileSizeFrom" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="FileSizeTo" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="FirstN" type="xsd:int" default="-1"/>
        <xsd:element minOccurs="0" name="FirstNType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="PageSize" type="xsd:int" default="20"/>
        <xsd:element minOccurs="0" name="PageStartFrom" type="xsd:int64" default="1"/>
        <xsd:element minOccurs="0" name="LastPageFrom" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="PageEndAt" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="PrevPageFrom" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="NextPageFrom" type="xsd:int64" default="-1"/>
        <xsd:element minOccurs="0" name="NumFiles" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Sortby" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Descending" type="xsd:boolean" default="false"/>
        <xsd:element minOccurs="0" name="BasicQuery" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ParametersForPaging" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Filters" type="xsd:string"/>
        <xsd:element minOccurs="0" name="CacheHint" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="IsSubsetOfFiles" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="Warning" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFURecordTypeInfoResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="jsonInfo" type="xsd:string"/>
        <xsd:element minOccurs="0" name="binInfo" type="xsd:binary"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUSearchResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="ShowExample" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterNames">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="ClusterName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="FileTypes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="FileType" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUSearchDataResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="OpenLogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
        <xsd:element minOccurs="0" name="RowCount" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
        <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="FilterForGoBack" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ColumnsHidden">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="ColumnHidden" type="tns:DFUDataColumn"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ColumnCount" type="xsd:int"/>
        <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
        <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
        <xsd:element minOccurs="0" name="Start" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Count" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="PageSize" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Total" type="xsd:int64"/>
        <xsd:element minOccurs="0" name="Result" type="xsd:string"/>
        <xsd:element minOccurs="0" name="MsgToDisplay" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
        <xsd:element minOccurs="0" name="File" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Key" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="RoxieSelections" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="AutoUppercaseTranslation" type="xsd:boolean"/>
        <xsd:element minOccurs="0" name="SelectedKey" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DFUSpaceResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="CountBy" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ScopeUnder" type="xsd:string"/>
        <xsd:element minOccurs="0" name="OwnerUnder" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Interval" type="xsd:string"/>
        <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
        <xsd:element minOccurs="0" name="DFUSpaceItems" type="tns:ArrayOfDFUSpaceItem"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EclRecordTypeInfoResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="jsonInfo" type="xsd:string"/>
        <xsd:element minOccurs="0" name="binInfo" type="xsd:binary"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EraseHistoryResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="xmlmap" type="xsd:binary"/>
        <xsd:element minOccurs="0" name="History">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Origin" type="tns:History"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListHistoryResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="xmlmap" type="xsd:binary"/>
        <xsd:element minOccurs="0" name="History">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Origin" type="tns:History"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WsDfuPingResponse">
    <xsd:complexType>
      <xsd:all/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SavexmlResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="xmlmap" type="xsd:binary"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SuperfileActionResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
        <xsd:element minOccurs="0" name="retcode" type="xsd:int"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SuperfileListResponse">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
        <xsd:element minOccurs="0" name="subfiles" type="tns:EspStringArray"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
