testing/esp/esdlcmd/baselines/wsdl-uvns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:hpccsystems:ws:wsdfu" targetNamespace="urn:hpccsystems:ws:wsdfu">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hpccsystems:ws:wsdfu">
      <xsd:element name="string" nillable="true" type="xsd:string"/>
      <xsd:complexType name="EspException">
        <xsd:all>
          <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Audience" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEspException">
        <xsd:sequence>
          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Exception" type="tns:EspException" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Exceptions" type="tns:ArrayOfEspException"/>
      <xsd:simpleType name="DFUArrayActions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Delete"/>
          <xsd:enumeration value="Add To Superfile"/>
          <xsd:enumeration value="Change Protection"/>
          <xsd:enumeration value="Change Restriction"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DFUDefFileFormat">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="xml"/>
          <xsd:enumeration value="def"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DFUActionInfo">
        <xsd:all>
          <xsd:element minOccurs="0" name="FileName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ActionResult" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Failed" type="xsd:boolean"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFUActionInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUActionInfo" type="tns:DFUActionInfo"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DFUDataColumn">
        <xsd:all>
          <xsd:element minOccurs="0" name="ColumnID" type="xsd:int"/>
          <xsd:element minOccurs="0" name="ColumnLabel" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ColumnType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ColumnValue" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ColumnSize" type="xsd:int"/>
          <xsd:element minOccurs="0" name="MaxSize" type="xsd:int"/>
          <xsd:element minOccurs="0" name="ColumnEclType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ColumnRawSize" type="xsd:int"/>
          <xsd:element minOccurs="0" name="IsNaturalColumn" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="IsKeyedColumn" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="DataColumns" type="tns:ArrayOfDFUDataColumn"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFUDataColumn">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUDataColumn" type="tns:DFUDataColumn"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DFULogicalFile">
        <xsd:all>
          <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Directory" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Parts" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Totalsize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="RecordCount" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Modified" type="xsd:string"/>
          <xsd:element minOccurs="0" name="LongSize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="LongRecordCount" type="xsd:string"/>
          <xsd:element minOccurs="0" name="isSuperfile" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="isDirectory" type="xsd:boolean" default="false"/>
          <xsd:element minOccurs="0" name="Replicate" type="xsd:boolean" default="false"/>
          <xsd:element minOccurs="0" name="IntSize" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="IntRecordCount" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="FromRoxieCluster" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="BrowseData" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="IsCompressed" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="ContentType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CompressedFileSize" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="SuperOwners" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Persistent" type="xsd:boolean" default="false"/>
          <xsd:element minOccurs="0" name="IsProtected" type="xsd:boolean" default="false"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFULogicalFile">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFULogicalFile" type="tns:DFULogicalFile"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DFUFileStat">
        <xsd:all>
          <xsd:element minOccurs="0" name="MinSkew" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MaxSkew" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MinSkewInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="MaxSkewInt64" type="xsd:int64"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DFUPart">
        <xsd:all>
          <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Copy" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Partsize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="PartSizeInt64" type="xsd:int64"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFUPart">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUPart" type="tns:DFUPart"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DFUFilePartsOnCluster">
        <xsd:all>
          <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
          <xsd:element minOccurs="0" name="BaseDir" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ReplicateDir" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Replicate" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="CanReplicate" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="DFUFileParts" type="tns:ArrayOfDFUPart"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFUFilePartsOnCluster">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFilePartsOnCluster" type="tns:DFUFilePartsOnCluster"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DFUFileProtect">
        <xsd:all>
          <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Count" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Modified" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFUFileProtect">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUFileProtect" type="tns:DFUFileProtect"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DFUFileDetail">
        <xsd:all>
          <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Filename" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NumParts" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Dir" type="xsd:string"/>
          <xsd:element minOccurs="0" name="PathMask" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Filesize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="FileSizeInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="RecordSize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="RecordCount" type="xsd:string"/>
          <xsd:element minOccurs="0" name="RecordSizeInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="RecordCountInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="Wuid" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
          <xsd:element minOccurs="0" name="JobName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Persistent" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Format" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MaxRecordSize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CsvSeparate" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CsvQuote" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CsvTerminate" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CsvEscape" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Modified" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Ecl" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Stat" type="tns:DFUFileStat"/>
          <xsd:element minOccurs="0" name="DFUFilePartsOnClusters" type="tns:ArrayOfDFUFilePartsOnCluster"/>
          <xsd:element minOccurs="0" name="isSuperfile" type="xsd:boolean" default="false"/>
          <xsd:element minOccurs="0" name="ShowFileContent" type="xsd:boolean" default="true"/>
          <xsd:element minOccurs="0" name="subfiles" type="tns:EspStringArray"/>
          <xsd:element minOccurs="0" name="Superfiles" type="tns:ArrayOfDFULogicalFile"/>
          <xsd:element minOccurs="0" name="ProtectList" type="tns:ArrayOfDFUFileProtect"/>
          <xsd:element minOccurs="0" name="FromRoxieCluster" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="Graphs">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ECLGraph" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="UserPermission" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ContentType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CompressedFileSize" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="PercentCompressed" type="xsd:string"/>
          <xsd:element minOccurs="0" name="IsCompressed" type="xsd:boolean" default="false"/>
          <xsd:element minOccurs="0" name="BrowseData" type="xsd:boolean" default="true"/>
          <xsd:element minOccurs="0" name="jsonInfo" type="xsd:string"/>
          <xsd:element minOccurs="0" name="binInfo" type="xsd:binary"/>
          <xsd:element minOccurs="0" name="PackageID" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DFUSpaceItem">
        <xsd:all>
          <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NumOfFiles" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NumOfFilesUnknown" type="xsd:string"/>
          <xsd:element minOccurs="0" name="TotalSize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="LargestFile" type="xsd:string"/>
          <xsd:element minOccurs="0" name="LargestSize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="SmallestFile" type="xsd:string"/>
          <xsd:element minOccurs="0" name="SmallestSize" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NumOfFilesInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="NumOfFilesUnknownInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="TotalSizeInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="LargestSizeInt64" type="xsd:int64"/>
          <xsd:element minOccurs="0" name="SmallestSizeInt64" type="xsd:int64"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDFUSpaceItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFUSpaceItem" type="tns:DFUSpaceItem"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="History">
        <xsd:all>
          <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Timestamp" type="xsd:string"/>
          <xsd:element minOccurs="0" name="IP" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Path" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Workunit" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="AddRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="dstname" type="xsd:string"/>
            <xsd:element minOccurs="0" name="xmlmap" type="xsd:binary"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddRemoteRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="dstname" type="xsd:string"/>
            <xsd:element minOccurs="0" name="srcname" type="xsd:string"/>
            <xsd:element minOccurs="0" name="srcdali" type="xsd:string"/>
            <xsd:element minOccurs="0" name="srcusername" type="xsd:string"/>
            <xsd:element minOccurs="0" name="srcpassword" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddtoSuperfileRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Superfile" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Subfiles" type="xsd:string"/>
            <xsd:element minOccurs="0" name="names" type="tns:EspStringArray"/>
            <xsd:element minOccurs="0" name="ExistingFile" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUArrayActionRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Type" type="tns:DFUArrayActions"/>
            <xsd:element minOccurs="0" name="NoDelete" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LogicalFiles" type="tns:EspStringArray"/>
            <xsd:element minOccurs="0" name="removeFromSuperfiles" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="removeRecursively" type="xsd:boolean" default="false"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUBrowseDataRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
            <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Start" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="Count" type="xsd:int"/>
            <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUDefFileRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Format" type="tns:DFUDefFileFormat"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUFileViewRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Scope" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IncludeSuperOwner" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUGetDataColumnsRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="OpenLogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64" default="0"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUGetFileMetaDataRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="LogicalFileName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IncludeXmlSchema" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="AddHeaderInXmlSchema" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="IncludeXmlXPathSchema" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="AddHeaderInXmlXPathSchema" type="xsd:boolean" default="false"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUInfoRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UpdateDescription" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="QuerySet" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Query" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FileDesc" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IncludeJsonTypeInfo" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="IncludeBinTypeInfo" type="xsd:boolean" default="false"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUQueryRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ContentType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FileType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FileSizeFrom" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="FileSizeTo" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="FirstN" type="xsd:int" default="-1"/>
            <xsd:element minOccurs="0" name="PageSize" type="xsd:int"/>
            <xsd:element minOccurs="0" name="PageStartFrom" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Sortby" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Descending" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="OneLevelDirFileReturn" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="CacheHint" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="MaxNumberOfFiles" type="xsd:int"/>
            <xsd:element minOccurs="0" name="IncludeSuperOwner" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFURecordTypeInfoRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IncludeJsonTypeInfo" type="xsd:boolean" default="true"/>
            <xsd:element minOccurs="0" name="IncludeBinTypeInfo" type="xsd:boolean" default="true"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUSearchRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ShowExample" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUSearchDataRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OpenLogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Start" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="Count" type="xsd:int"/>
            <xsd:element minOccurs="0" name="File" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Key" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean" default="true"/>
            <xsd:element minOccurs="0" name="RoxieSelections" type="xsd:boolean" default="true"/>
            <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="SelectedKey" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUSpaceRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="CountBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ScopeUnder" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerUnder" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Interval" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EclRecordTypeInfoRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Ecl" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IncludeJsonTypeInfo" type="xsd:boolean" default="true"/>
            <xsd:element minOccurs="0" name="IncludeBinTypeInfo" type="xsd:boolean" default="true"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EraseHistoryRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ListHistoryRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WsDfuPingRequest">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SavexmlRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SuperfileActionRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="action" type="xsd:string"/>
            <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
            <xsd:element minOccurs="0" name="subfiles" type="tns:EspStringArray"/>
            <xsd:element minOccurs="0" name="before" type="xsd:string"/>
            <xsd:element minOccurs="0" name="delete" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="removeSuperfile" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SuperfileListRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddRemoteResponse">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddtoSuperfileResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Subfiles" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SubfileNames">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubfileName" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUArrayActionResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="BackToPage" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RedirectTo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ActionResults" type="tns:ArrayOfDFUActionInfo"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUBrowseDataResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterForGoBack" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ColumnsHidden">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ColumnHidden" type="tns:DFUDataColumn"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ColumnCount" type="xsd:int"/>
            <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
            <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Start" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Count" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="PageSize" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Total" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Result" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MsgToDisplay" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUDefFileResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="defFile" type="xsd:binary"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUFileViewResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Scope" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NumFiles" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="DFULogicalFiles" type="tns:ArrayOfDFULogicalFile"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUGetDataColumnsResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="RowCount" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUGetFileMetaDataResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="TotalColumnCount" type="xsd:int"/>
            <xsd:element minOccurs="0" name="KeyedColumnCount" type="xsd:int"/>
            <xsd:element minOccurs="0" name="DataColumns" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="XmlSchema" type="xsd:string"/>
            <xsd:element minOccurs="0" name="XmlXPathSchema" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalResultRows" type="xsd:int64"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUInfoResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="FileDetail" type="tns:DFUFileDetail"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUQueryResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="DFULogicalFiles" type="tns:ArrayOfDFULogicalFile"/>
            <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NodeGroup" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FileType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FileSizeFrom" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="FileSizeTo" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="FirstN" type="xsd:int" default="-1"/>
            <xsd:element minOccurs="0" name="PageSize" type="xsd:int" default="20"/>
            <xsd:element minOccurs="0" name="PageStartFrom" type="xsd:int64" default="1"/>
            <xsd:element minOccurs="0" name="LastPageFrom" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="PageEndAt" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="PrevPageFrom" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="NextPageFrom" type="xsd:int64" default="-1"/>
            <xsd:element minOccurs="0" name="NumFiles" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Sortby" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Descending" type="xsd:boolean" default="false"/>
            <xsd:element minOccurs="0" name="BasicQuery" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParametersForPaging" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Filters" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CacheHint" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="IsSubsetOfFiles" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="Warning" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFURecordTypeInfoResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="jsonInfo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="binInfo" type="xsd:binary"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUSearchResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ShowExample" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterNames">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ClusterName" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="FileTypes">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="FileType" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUSearchDataResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="OpenLogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LogicalName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartIndex" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="EndIndex" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns1" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns2" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns3" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns4" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns5" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns6" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns7" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns8" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns9" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns10" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns11" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns12" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns13" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns14" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns15" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns16" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns17" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns18" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns19" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="DFUDataNonKeyedColumns20" type="tns:ArrayOfDFUDataColumn"/>
            <xsd:element minOccurs="0" name="RowCount" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="ShowColumns" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChooseFile" type="xsd:int" default="0"/>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FilterForGoBack" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ColumnsHidden">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ColumnHidden" type="tns:DFUDataColumn"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ColumnCount" type="xsd:int"/>
            <xsd:element minOccurs="0" name="StartForGoback" type="xsd:int64" default="0"/>
            <xsd:element minOccurs="0" name="CountForGoback" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Start" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Count" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="PageSize" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Total" type="xsd:int64"/>
            <xsd:element minOccurs="0" name="Result" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MsgToDisplay" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Cluster" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClusterType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="File" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Key" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SchemaOnly" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="RoxieSelections" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="DisableUppercaseTranslation" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="AutoUppercaseTranslation" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="SelectedKey" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DFUSpaceResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="CountBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ScopeUnder" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerUnder" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Interval" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DFUSpaceItems" type="tns:ArrayOfDFUSpaceItem"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EclRecordTypeInfoResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="jsonInfo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="binInfo" type="xsd:binary"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EraseHistoryResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="History">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Origin" type="tns:History"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ListHistoryResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="History">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Origin" type="tns:History"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WsDfuPingResponse">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SavexmlResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="xmlmap" type="xsd:binary"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SuperfileActionResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
            <xsd:element minOccurs="0" name="retcode" type="xsd:int"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SuperfileListResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="superfile" type="xsd:string"/>
            <xsd:element minOccurs="0" name="subfiles" type="tns:EspStringArray"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EspSoapFault">
    <wsdl:part name="parameters" element="tns:Exceptions"/>
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequest"/>
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse"/>
  </wsdl:message>
  <wsdl:message name="AddRemoteSoapIn">
    <wsdl:part name="parameters" element="tns:AddRemoteRequest"/>
  </wsdl:message>
  <wsdl:message name="AddRemoteSoapOut">
    <wsdl:part name="parameters" element="tns:AddRemoteResponse"/>
  </wsdl:message>
  <wsdl:message name="AddtoSuperfileSoapIn">
    <wsdl:part name="parameters" element="tns:AddtoSuperfileRequest"/>
  </wsdl:message>
  <wsdl:message name="AddtoSuperfileSoapOut">
    <wsdl:part name="parameters" element="tns:AddtoSuperfileResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUArrayActionSoapIn">
    <wsdl:part name="parameters" element="tns:DFUArrayActionRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUArrayActionSoapOut">
    <wsdl:part name="parameters" element="tns:DFUArrayActionResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUBrowseDataSoapIn">
    <wsdl:part name="parameters" element="tns:DFUBrowseDataRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUBrowseDataSoapOut">
    <wsdl:part name="parameters" element="tns:DFUBrowseDataResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUDefFileSoapIn">
    <wsdl:part name="parameters" element="tns:DFUDefFileRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUDefFileSoapOut">
    <wsdl:part name="parameters" element="tns:DFUDefFileResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUFileViewSoapIn">
    <wsdl:part name="parameters" element="tns:DFUFileViewRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUFileViewSoapOut">
    <wsdl:part name="parameters" element="tns:DFUFileViewResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUGetDataColumnsSoapIn">
    <wsdl:part name="parameters" element="tns:DFUGetDataColumnsRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUGetDataColumnsSoapOut">
    <wsdl:part name="parameters" element="tns:DFUGetDataColumnsResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUGetFileMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:DFUGetFileMetaDataRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUGetFileMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:DFUGetFileMetaDataResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DFUInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DFUInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUQuerySoapIn">
    <wsdl:part name="parameters" element="tns:DFUQueryRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUQuerySoapOut">
    <wsdl:part name="parameters" element="tns:DFUQueryResponse"/>
  </wsdl:message>
  <wsdl:message name="DFURecordTypeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DFURecordTypeInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="DFURecordTypeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DFURecordTypeInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUSearchSoapIn">
    <wsdl:part name="parameters" element="tns:DFUSearchRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUSearchSoapOut">
    <wsdl:part name="parameters" element="tns:DFUSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUSearchDataSoapIn">
    <wsdl:part name="parameters" element="tns:DFUSearchDataRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUSearchDataSoapOut">
    <wsdl:part name="parameters" element="tns:DFUSearchDataResponse"/>
  </wsdl:message>
  <wsdl:message name="DFUSpaceSoapIn">
    <wsdl:part name="parameters" element="tns:DFUSpaceRequest"/>
  </wsdl:message>
  <wsdl:message name="DFUSpaceSoapOut">
    <wsdl:part name="parameters" element="tns:DFUSpaceResponse"/>
  </wsdl:message>
  <wsdl:message name="EclRecordTypeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:EclRecordTypeInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="EclRecordTypeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:EclRecordTypeInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="EraseHistorySoapIn">
    <wsdl:part name="parameters" element="tns:EraseHistoryRequest"/>
  </wsdl:message>
  <wsdl:message name="EraseHistorySoapOut">
    <wsdl:part name="parameters" element="tns:EraseHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="ListHistorySoapIn">
    <wsdl:part name="parameters" element="tns:ListHistoryRequest"/>
  </wsdl:message>
  <wsdl:message name="ListHistorySoapOut">
    <wsdl:part name="parameters" element="tns:ListHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:WsDfuPingRequest"/>
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:WsDfuPingResponse"/>
  </wsdl:message>
  <wsdl:message name="SavexmlSoapIn">
    <wsdl:part name="parameters" element="tns:SavexmlRequest"/>
  </wsdl:message>
  <wsdl:message name="SavexmlSoapOut">
    <wsdl:part name="parameters" element="tns:SavexmlResponse"/>
  </wsdl:message>
  <wsdl:message name="SuperfileActionSoapIn">
    <wsdl:part name="parameters" element="tns:SuperfileActionRequest"/>
  </wsdl:message>
  <wsdl:message name="SuperfileActionSoapOut">
    <wsdl:part name="parameters" element="tns:SuperfileActionResponse"/>
  </wsdl:message>
  <wsdl:message name="SuperfileListSoapIn">
    <wsdl:part name="parameters" element="tns:SuperfileListRequest"/>
  </wsdl:message>
  <wsdl:message name="SuperfileListSoapOut">
    <wsdl:part name="parameters" element="tns:SuperfileListResponse"/>
  </wsdl:message>
  <wsdl:portType name="WsDfuServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn"/>
      <wsdl:output message="tns:AddSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="AddRemote">
      <wsdl:input message="tns:AddRemoteSoapIn"/>
      <wsdl:output message="tns:AddRemoteSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="AddtoSuperfile">
      <wsdl:input message="tns:AddtoSuperfileSoapIn"/>
      <wsdl:output message="tns:AddtoSuperfileSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUArrayAction">
      <wsdl:input message="tns:DFUArrayActionSoapIn"/>
      <wsdl:output message="tns:DFUArrayActionSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUBrowseData">
      <wsdl:input message="tns:DFUBrowseDataSoapIn"/>
      <wsdl:output message="tns:DFUBrowseDataSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUDefFile">
      <wsdl:input message="tns:DFUDefFileSoapIn"/>
      <wsdl:output message="tns:DFUDefFileSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUFileView">
      <wsdl:input message="tns:DFUFileViewSoapIn"/>
      <wsdl:output message="tns:DFUFileViewSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUGetDataColumns">
      <wsdl:input message="tns:DFUGetDataColumnsSoapIn"/>
      <wsdl:output message="tns:DFUGetDataColumnsSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUGetFileMetaData">
      <wsdl:input message="tns:DFUGetFileMetaDataSoapIn"/>
      <wsdl:output message="tns:DFUGetFileMetaDataSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUInfo">
      <wsdl:input message="tns:DFUInfoSoapIn"/>
      <wsdl:output message="tns:DFUInfoSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUQuery">
      <wsdl:input message="tns:DFUQuerySoapIn"/>
      <wsdl:output message="tns:DFUQuerySoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFURecordTypeInfo">
      <wsdl:input message="tns:DFURecordTypeInfoSoapIn"/>
      <wsdl:output message="tns:DFURecordTypeInfoSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUSearch">
      <wsdl:input message="tns:DFUSearchSoapIn"/>
      <wsdl:output message="tns:DFUSearchSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUSearchData">
      <wsdl:input message="tns:DFUSearchDataSoapIn"/>
      <wsdl:output message="tns:DFUSearchDataSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="DFUSpace">
      <wsdl:input message="tns:DFUSpaceSoapIn"/>
      <wsdl:output message="tns:DFUSpaceSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="EclRecordTypeInfo">
      <wsdl:input message="tns:EclRecordTypeInfoSoapIn"/>
      <wsdl:output message="tns:EclRecordTypeInfoSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="EraseHistory">
      <wsdl:input message="tns:EraseHistorySoapIn"/>
      <wsdl:output message="tns:EraseHistorySoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="ListHistory">
      <wsdl:input message="tns:ListHistorySoapIn"/>
      <wsdl:output message="tns:ListHistorySoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn"/>
      <wsdl:output message="tns:PingSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="Savexml">
      <wsdl:input message="tns:SavexmlSoapIn"/>
      <wsdl:output message="tns:SavexmlSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="SuperfileAction">
      <wsdl:input message="tns:SuperfileActionSoapIn"/>
      <wsdl:output message="tns:SuperfileActionSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="SuperfileList">
      <wsdl:input message="tns:SuperfileListSoapIn"/>
      <wsdl:output message="tns:SuperfileListSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsDfuServiceSoap" type="tns:WsDfuServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Add">
      <soap:operation style="document" soapAction="WsDfu/Add?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddRemote">
      <soap:operation style="document" soapAction="WsDfu/AddRemote?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddtoSuperfile">
      <soap:operation style="document" soapAction="WsDfu/AddtoSuperfile?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUArrayAction">
      <soap:operation style="document" soapAction="WsDfu/DFUArrayAction?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUBrowseData">
      <soap:operation style="document" soapAction="WsDfu/DFUBrowseData?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUDefFile">
      <soap:operation style="document" soapAction="WsDfu/DFUDefFile?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUFileView">
      <soap:operation style="document" soapAction="WsDfu/DFUFileView?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUGetDataColumns">
      <soap:operation style="document" soapAction="WsDfu/DFUGetDataColumns?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUGetFileMetaData">
      <soap:operation style="document" soapAction="WsDfu/DFUGetFileMetaData?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUInfo">
      <soap:operation style="document" soapAction="WsDfu/DFUInfo?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUQuery">
      <soap:operation style="document" soapAction="WsDfu/DFUQuery?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFURecordTypeInfo">
      <soap:operation style="document" soapAction="WsDfu/DFURecordTypeInfo?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUSearch">
      <soap:operation style="document" soapAction="WsDfu/DFUSearch?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUSearchData">
      <soap:operation style="document" soapAction="WsDfu/DFUSearchData?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DFUSpace">
      <soap:operation style="document" soapAction="WsDfu/DFUSpace?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EclRecordTypeInfo">
      <soap:operation style="document" soapAction="WsDfu/EclRecordTypeInfo?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EraseHistory">
      <soap:operation style="document" soapAction="WsDfu/EraseHistory?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListHistory">
      <soap:operation style="document" soapAction="WsDfu/ListHistory?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation style="document" soapAction="WsDfu/Ping?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Savexml">
      <soap:operation style="document" soapAction="WsDfu/Savexml?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SuperfileAction">
      <soap:operation style="document" soapAction="WsDfu/SuperfileAction?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SuperfileList">
      <soap:operation style="document" soapAction="WsDfu/SuperfileList?ver_=1.380000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsDfu">
    <wsdl:port name="WsDfuServiceSoap" binding="tns:WsDfuServiceSoap">
      <soap:address location="localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
