initfiles/componentfiles/configschema/xsd/esp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
#    HPCC SYSTEMS software Copyright (C) 2018 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
################################################################################
 -->
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
        xmlns:hpcc="someuri">
    <xs:include schemaLocation="types.xsd"/>
    <hpcc:insert hpcc:schemaPath="/Environment/Software">
        <xs:element name="EspProcess" hpcc:class="component" hpcc:category="ESP Process" hpcc:itemType="esp"
                    hpcc:displayName="ESP Process" hpcc:docid="ESP.t6" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="EspBinding" maxOccurs="unbounded" hpcc:itemType="espbinding"
                                hpcc:category="ESP Bindings" hpcc:insertLimitType="attribute"
                                hpcc:insertLimitData="service"
                                hpcc:displayName="ESP Service Bindings" hpcc:class="elementSet" hpcc:event="create"
                                hpcc:docid="ESP.t3">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Authenticate" minOccurs="0" maxOccurs="unbounded"
                                            hpcc:class="elementSet" hpcc:displayName="URL Authentication"
                                            hpcc:docid="ESP.t1">
                                    <xs:complexType>
                                        <xs:attribute name="description" type="xs:string"
                                                      hpcc:displayName="Description"/>
                                        <xs:attribute name="path" type="xs:string" use="required" hpcc:presetValue="/"
                                                      hpcc:displayName="Path"
                                                      hpcc:tooltip="The logical path of a resource used for authentication"/>
                                        <xs:attribute name="resource" type="xs:string" use="required"
                                                      hpcc:displayName="Resource"
                                                      hpcc:tooltip="The physical resource for which access is checked"/>
                                        <xs:attribute name="access" hpcc:presetValue="Read">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="" hpcc:displayName="Use default"
                                                                    hpcc:description=""/>
                                                    <xs:enumeration value="Access" hpcc:description=""/>
                                                    <xs:enumeration value="Read" hpcc:description=""/>
                                                    <xs:enumeration value="Write" hpcc:description=""/>
                                                    <xs:enumeration value="Full" hpcc:description=""/>
                                                    <xs:enumeration value="None" hpcc:description=""/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="AuthenticateFeature" minOccurs="0" maxOccurs="unbounded"
                                            hpcc:class="elementSet" hpcc:displayName="Feature Authentication"
                                            hpcc:docid="ESP.t2">
                                    <xs:complexType>
                                        <xs:attribute name="authenticate" hpcc:presetValue="Yes"
                                                      hpcc:displayName="Authenticate"
                                                      hpcc:tooltip="Validate access rights for this capability?">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Yes"
                                                                    hpcc:description="Validate access rights for this capability"/>
                                                    <xs:enumeration value="No" hpcc:description="No validation"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="description" type="xs:string"
                                                      hpcc:displayName="Description"/>
                                        <xs:attribute name="path" type="xs:string" use="required"
                                                      hpcc:displayName="Path" hpcc:presetValue="/"
                                                      hpcc:tooltip="The logical path of a resource used for authentication"/>
                                        <xs:attribute name="resource" type="xs:string" use="required"
                                                      hpcc:displayName="Resource"/>
                                    </xs:complexType>
                                </xs:element>

                                <xs:element name="CustomBindingParameter" minOccurs="0" maxOccurs="unbounded"
                                            hpcc:class="elementSet" hpcc:displayName="Custom Binding Parameters">
                                    <xs:complexType>
                                        <xs:attribute name="key" type="xs:string"
                                                      hpcc:uniqueKey="custombindingparameter_key"
                                                      hpcc:displayName="Key"/>
                                        <xs:attribute name="value" type="xs:string"
                                                      hpcc:displayName="Value"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>

                            <xs:attribute name="name" type="xs:string" use="required" hpcc:displayName="Binding Name"
                                          hpcc:autoName=""/>
                            <xs:attribute name="service" type="xs:string" use="required" hpcc:hidden="true"
                                          hpcc:displayName="Service" hpcc:sourceKey="espservice_name"/>
                            <xs:attribute name="protocol" use="required" hpcc:presetValue="http"
                                          hpcc:displayName="Protocol" hpcc:tooltip="The protocol to use">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="http" hpcc:descritpion=""/>
                                        <xs:enumeration value="https" hpcc:descritpion=""/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="port" type="xs:nonNegativeInteger" use="required"
                                          hpcc:displayName="Port" hpcc:tooltip="Port to which the service is bound"/>
                            <xs:attribute name="wsdlServiceAddress" type="xs:string"
                                          hpcc:displayName="wsdlServiceAddress"
                                          hpcc:tooltip="Overrides the address used by client applications to connect to the service"/>
                            <xs:attribute name="defaultServiceVersion" type="version"
                                          hpcc:displayName="Default Service Version"
                                          hpcc:tooltip="The default version for WSDL, XSD and the ESP form"/>
                            <xs:attribute name="resourcesBasedn" type="xs:string" hpcc:displayName=""
                                          hpcc:tooltip="Base location for resources (used with ldap security)"/>
                            <xs:attribute name="workunitsBasedn" type="xs:string"
                                          hpcc:presetValue="ou=workunits,ou=ecl" hpcc:displayName="WorkUnits BaseDn"
                                          hpcc:tooltip="Base location for workunit resources (used with ldap security)"
                                          hpcc:requiredIf="xpath,xpath..."/>
                            <xs:attribute name="defaultForPort" type="xs:boolean" use="required" hpcc:presetValue="true"
                                          hpcc:displayName="Default for port"
                                          hpcc:tooltip="This binding is determines root access"/>
                            <xs:attribute name="type" type="xs:string"
                                          hpcc:displayName="Security Manager Plugin" hpcc:sourceKey="secmgrplugin_name"
                                          hpcc:hiddenIf="../Authentication[@method=('ldap','ldaps')]"
                                          hpcc:requiredIf="../Authentication[@method!=('ldap','ldaps')]"
                                          hpcc:tooltip="The Security Manager to be used by the Esp Service"/>
                        </xs:complexType>

                    </xs:element>

                    <xs:element name="Authentication" hpcc:docid="ESP.t4" minOccurs="1" hpcc:class="valueSet"
                                hpcc:displayName="Authentication">
                        <xs:complexType>
                            <xs:attribute name="method" use="required" hpcc:presetValue="none" hpcc:displayName="Method"
                                          hpcc:modifiers="variableAttributes"
                                          hpcc:tooltip="The protocol to use for authenticating the service">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="none" hpcc:description=""/>
                                        <xs:enumeration value="ldap"
                                                        hpcc:requiredAttributes="ldapServer,ldapAuthMethod,ldapConnections,passwordExpirationWarningDays,checkViewPermissions"
                                                        hpcc:description=""/>
                                        <xs:enumeration value="ldaps"
                                                        hpcc:requiredAttributes="ldapServer,ldapAuthMethod,ldapConnections,passwordExpirationWarningDays,checkViewPermissions"
                                                        hpcc:description=""/>
                                        <xs:enumeration value="userNameOnly"
                                                        hpcc:requiredAttributes="getUserNameURL,getUserNameUnrestrictedResources"
                                                        hpcc:description=""/>
                                        <xs:enumeration value="secmgrPlugin" hpcc:description=""/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="ldapServer" type="xs:string"
                                          hpcc:displayName="LDAP Server" hpcc:requiredIf=".[@method=('ldap','ldaps')]"
                                          hpcc:tooltip="The ldap server to be used for authentication"/>
                            <xs:attribute name="ldapAuthMethod" type="xs:string"
                                          hpcc:presetValue="kerberos" hpcc:displayName="LDAP Auth Method"
                                          hpcc:requiredIf=".[@method=('ldap','ldaps')]"
                                          hpcc:tooltip="The protocol to use for LDAP authentication">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="kerberos" hpcc:description=""/>
                                        <xs:enumeration value="simple" hpcc:description=""/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="ldapConnections" type="xs:nonNegativeInteger"
                                          hpcc:presetValue="10" hpcc:displayName="LDAP Connections"
                                          hpcc:tooltip="Maximum number of connections to the LDAP server"
                                          hpcc:requiredIf=".[@method=('ldap','ldaps')]"/>
                            <xs:attribute name="passwordExpirationWarningDays" type="xs:nonNegativeInteger"
                                          hpcc:presetValue="10"
                                          hpcc:requiredIf=".[@method=('ldap','ldaps')]"
                                          hpcc:displayName="Passowrd Expiration Warning Days"
                                          hpcc:tooltip="In this time period, ESP displays a warning about password expiration"/>
                            <xs:attribute name="checkViewPermissions" type="xs:boolean"
                                          hpcc:presetValue="false" hpcc:displayName="Check View Permissions"
                                          hpcc:requiredIf=".[@method=('ldap','ldaps')]"
                                          hpcc:tooltip="Enable file and column access permission checking for all view enabled queries"/>
                            <xs:attribute name="getUserNameURL" type="xs:string" hpcc:displayName="Username URL"
                                          hpcc:presetValue="/esp/files/GetUserName.html"
                                          hpcc:requiredIf=".[@method='userNameOnly']"
                                          hpcc:tooltip="URL to getUserName"/>
                            <xs:attribute name="getUserNameUnrestrictedResources" type="xs:string"
                                          hpcc:displayName="Unrestricted Resources Name"
                                          hpcc:presetValue="/favicon.ico,/esp/files/*,/esp/xslt/*"
                                          hpcc:requiredIf=".[@method='userNameOnly']"
                                          hpcc:tooltip="unrestricted resources for getUserNameURL"/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="AuthDomain" minOccurs="0" maxOccurs="unbounded" hpcc:class="elementSet"
                                hpcc:displayName="AuthDomain" hpcc:docid="ESP.t7">
                        <xs:complexType>
                            <xs:attribute name="authType" use="required" hpcc:presetValue="AuthTypeMixed"
                                          hpcc:displayName="" hpcc:tooltip="User session Authentication type">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AuthTypeMixed" hpcc:description=""/>
                                        <xs:enumeration value="AuthPerSessionOnly" hpcc:description=""/>
                                        <xs:enumeration value="AuthPerRequestOnly" hpcc:description=""/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="domainName" type="xs:string"
                                          hpcc:displayName="Domain Name"
                                          hpcc:tooltip="Unique string to identify an auth domain in case > 1 domains in an esp"/>
                            <xs:attribute name="logonURL" type="xs:string"
                                          hpcc:presetValue="/esp/files/eclwatch/templates/Login.html"
                                          hpcc:displayName="Logon URL" hpcc:tooltip="Logon URL"/>
                            <xs:attribute name="logoutURL" type="xs:string" hpcc:presetValue=""
                                          hpcc:displayName="Logout URL" hpcc:tooltip="Logout URL"/>
                            <xs:attribute name="sessionTimeoutMinutes" type="xs:integer"
                                          hpcc:presetValue="60" hpcc:displayName="Session Timeout Minutes"
                                          hpcc:tooltip="Inactive session duration, in minutes. Specify 0 for default timeout, -1 for never timeout"/>
                            <xs:attribute name="resourceURL" type="xs:string"
                                          hpcc:presetValue="/favicon.ico,/esp/files/img/favicon.ico,/esp/files/eclwatch/img/Loginlogo.png,/esp/files/dojo/*,/esp/files/eclwatch/nls/*"
                                          hpcc:displayName="Resurce URL" hpcc:tooltip="??"/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="HTTPS" minOccurs="0" hpcc:class="valueSet" hpcc:requiredIf="">
                        <xs:complexType>
                            <xs:attribute name="acceptSelfSigned" type="xs:boolean"
                                          hpcc:presetValue="true" hpcc:displayName="Accept Self Signed"
                                          hpcc:tooltip="whether to accept self-signed certificates"/>
                            <xs:attribute name="CA_Certificates_Path" type="xs:string"
                                          hpcc:presetValue="ca.pem" hpcc:displayName="Certificates Path"
                                          hpcc:requiredIf="../EspBinding[@protocol='https']"
                                          hpcc:tooltip="path to the file that contains CA certificates"/>
                            <xs:attribute name="certificateFileName" type="xs:string"
                                          hpcc:presetValue="certificate.cer" hpcc:displayName="Certificate Filename"
                                          hpcc:tooltip="Name of destination file in which the certificate will be written"/>
                            <xs:attribute name="cipherList" type="xs:string"
                                          hpcc:presetValue="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5"
                                          hpcc:displayName="Cipher List"
                                          hpcc:tooltip="Sets the ordered list of available ciphers for use by openssl.  See openssl documentation on ciphers for information on use and formatting."/>
                            <xs:attribute name="passphrase" type="xs:string"
                                          hpcc:modifiers="mask,verify,ignoreNoChange,encrypt"
                                          hpcc:displayName="Passphrase"
                                          hpcc:tooltip="The passphrase used to generate the private key"/>
                            <xs:attribute name="privateKeyFileName" type="xs:string"
                                          hpcc:presetValue="privatekey.cer" hpcc:displayName="Private Key Filename"
                                          hpcc:requiredIf="../EspBinding[@protocol='https']"
                                          hpcc:tooltip="Name of destination file in which the private key will be written"/>
                            <!-- The following are deprecated and marked hidden so that they don't appear to the user -->
                            <xs:attribute name="city" hpcc:deprecated="true" hpcc:hidden="true" type="xs:string"
                                         />
                            <xs:attribute name="country" hpcc:deprecated="true" hpcc:hidden="true" type="xs:string"
                                         />
                            <xs:attribute name="daysValid" hpcc:deprecated="true" hpcc:hidden="true" type="xs:string"
                                         />
                            <xs:attribute name="enableVerification" hpcc:deprecated="true" hpcc:hidden="true"
                                          type="xs:boolean"/>
                            <xs:attribute name="organization" hpcc:deprecated="true" hpcc:hidden="true" type="xs:string"
                                         />
                            <xs:attribute name="organizationalUnit" hpcc:deprecated="true" hpcc:hidden="true"
                                          type="xs:string"/>
                            <xs:attribute name="regenerateCredentials" hpcc:deprecated="true" hpcc:hidden="true"
                                          type="xs:boolean"/>
                            <xs:attribute name="requireAddressMatch" hpcc:deprecated="true" hpcc:hidden="true"
                                          type="xs:boolean"/>
                            <xs:attribute name="state" hpcc:deprecated="true" hpcc:hidden="true" type="xs:string"
                                         />
                            <xs:attribute name="trustedPeers" hpcc:deprecated="true" hpcc:hidden="true" type="xs:string"
                                         />
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="ESPCacheGroup" hpcc:displayName="ESP Cache Group" hpcc:class="elementSet"
                                maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="id" type="xs:string" hpcc:displayName="ID" use="required"
                                          hpcc:uniqueKey="espprocess_cachegroup_id"
                                          hpcc:tooltip="Unique string to identify an ESP level cache group"/>
                            <xs:attribute name="initString" type="xs:string" hpcc:displayName="Init String"
                                          use="required"
                                          hpcc:tooltip="A string sent to cache server for initiating the server."/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Instance" hpcc:itemType="hwinstance" maxOccurs="unbounded" hpcc:class="elementSet"
                                hpcc:requiredInstanceComponents="/Evnironment/Software/[#itemType='dafilesrv'],/Evnironment/Software/[#itemType='ftslave']">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Certificate" type="xs:string" minOccurs="0"
                                            hpcc:displayName="Certificate"
                                            hpcc:tooltip="A certificate can be pasted here from the clipboard.  Otherwise, the generated certificate is displayed here after deployment"/>
                                <xs:element name="PrivateKey" type="xs:string" minOccurs="0"
                                            hpcc:displayName="Private Key"
                                            hpcc:tooltip="A private key can be pasted here from the clipboard.  Otherwise, the generated private key is displayed here after deployment"/>
                                <xs:element name="CSR" type="xs:string" minOccurs="0"
                                            hpcc:displayName="Certificate Signing Request"
                                            hpcc:tooltip="The generated Certificate Signing Request (CSR) is displayed here after first deployment"/>
                            </xs:sequence>
                            <xs:attributeGroup ref="computerNodeReference"/>
                            <xs:attribute name="directory" type="absolutePath" hpcc:hidden="true"/>
                            <xs:attribute name="FQDN" type="xs:string"
                                          hpcc:displayName="Fully Qualified Domain Name"
                                          hpcc:tooltip="Enter the fully qualified domain name"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Notes" type="usernotes" hpcc:displayName="Notes" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>

                <xs:attributeGroup ref="buildInfo"/>
                <xs:attribute name="name" type="xs:string" use="required" hpcc:displayName="Name"
                              hpcc:autoGenerateType="prefix_" hpcc:autoGenerateValue="myesp"
                              hpcc:uniqueKey="espprocess_name" hpcc:tooltip="Name for this process"/>
                <xs:attribute name="description" type="xs:string" hpcc:presetValue="ESP server"
                              hpcc:displayName="Description" hpcc:tooltip="Description for this process"/>
                <xs:attribute name="daliServers" type="xs:string" use="required" hpcc:displayName="Dali Servers"
                              hpcc:tooltip="Specifies the dali server to which this ESP is attached"/>
                <xs:attribute name="enableSEHMapping" type="xs:boolean" hpcc:presetValue="true"
                              hpcc:displayName="Enable SEH Mapping" hpcc:tooltip="Enables SEH to exception mapping"/>
                <xs:attribute name="enableSysLog" type="xs:boolean" hpcc:presetValue="false"
                              hpcc:displayName="Enable SysLog logging" hpcc:tooltip="Enable SysLog logging"/>
                <xs:attribute name="httpConfigAccess" type="xs:boolean" hpcc:presetValue="true"
                              hpcc:displayName="HTTP Config Access"
                              hpcc:tooltip="Allows esp config file to be viewed via a web browser"/>
                <xs:attribute name="formOptionsAccess" type="xs:boolean" hpcc:presetValue="false"
                              hpcc:displayName="Form Options Access"
                              hpcc:tooltip="Allows show Options in test form page"/>
                <xs:attribute name="maxRequestEntityLength" type="xs:nonNegativeInteger"
                              hpcc:presetValue="8000000" hpcc:displayName="Max Request Entity Length"
                              hpcc:tooltip="The maximum length of request entity allowed"/>
                <xs:attribute name="maxConcurrentThreads" type="xs:nonNegativeInteger"
                              hpcc:presetValue="0" hpcc:displayName="Max Concurrent Threads"
                              hpcc:tooltip="The maximum number of concurrent threads. 0 means unlimited"/>
                <xs:attribute name="maxBacklogQueueSize" type="xs:nonNegativeInteger"
                              hpcc:presetValue="200" hpcc:displayName="Max Backlog Queue Size"
                              hpcc:tooltip="Sets the sockets parameter for the maximum number of backlogged requests"/>
                <xs:attribute name="perfReportDelay" type="xs:nonNegativeInteger" hpcc:presetValue="60"
                              hpcc:displayName="Resource Usage Stats Logging Frequency"
                              hpcc:tooltip="Sets the frequency for logging resource usage stats"/>
                <xs:attribute name="portalurl" type="xs:string" hpcc:presetValue="http://hpccsystems.com/download"
                              hpcc:hidden="true" hpcc:tooltip="portal to HPCC Systems® web site"/>
                <xs:attribute name="controlPort" type="xs:nonNegativeInteger" hpcc:presetValue="8010"
                              hpcc:displayName="Control Port"
                              hpcc:tooltip="Sets the network port for ESP control"/>
                <xs:attribute name="logLevel" type="xs:nonNegativeInteger" hpcc:presetValue="1"
                              hpcc:displayName="Log Level"
                              hpcc:tooltip="ets the log level [0: none, 1: min, 5: noraml, 10: max]"/>
                <xs:attribute name="componentfilesDir" type="xs:string"
                              hpcc:presetValue="${COMPONENTFILES_PATH}" hpcc:displayName="Component Files Dir"
                              hpcc:tooltip="Sets the componentfiles directory"/>
                <xs:attribute name="logRequests" type="xs:string" hpcc:presetValue="never"
                              hpcc:displayName="Log Requests"
                              hpcc:tooltip="never|only-ones-with-issues|all"/>
                <xs:attribute name="logResponses" type="xs:boolean" hpcc:presetValue="false"
                              hpcc:displayName="Log Responses"/>
                <xs:attribute name="txSummaryLevel" type="xs:nonNegativeInteger" hpcc:presetValue="1"
                              hpcc:displayName="Tx Summary Level"
                              hpcc:tooltip="Sets the TxSummary level [0: none, 1: min, 5: noraml, 10: max]"/>
                <xs:attribute name="txSummaryResourceReq" type="xs:boolean" hpcc:presetValue="false"
                              hpcc:displayName="Tx Summary Resource Req"
                              hpcc:tooltip="Log TxSummary for Resource Requests"/>
                <xs:attribute name="espCacheInitString" type="xs:string"
                              hpcc:displayName="Cache Init String"
                              hpcc:tooltip="String used for initializing ESP cache client"/>
                <xs:attribute name="checkSessionTimeoutSeconds" type="xs:nonNegativeInteger"
                              hpcc:displayName="Check Session Timeout(s)"
                              hpcc:tooltip="Check Session Timeout in every given seconds"/>
                <xs:attribute name="urlAlias" type="xs:string" hpcc:displayName="URL Alias"
                              hpcc:tooltip="The URL alias for this ESP. This can be used to detect Cross-Origin Resource Sharing (CORS) access"/>
                <xs:attribute name="PageCacheTimeoutSeconds" type="xs:nonNegativeInteger"
                              hpcc:diaplayName="Page Cache Timeout(s)" hpcc:presetValue="600"
                              hpcc:tooltip="Paging data timeout in the given seconds"/>
                <xs:attribute name="MaxPageCacheItems" type="xs:nonNegativeInteger"
                              hpcc:displayName="Max Page Cache Items" hpcc:presetValue="1000"
                              hpcc:tooltip="The maximum number of cached items inside one page cache. 0 means no cache"/>
                <xs:attribute name="maxPersistentIdleTime" type="xs:integer"
                              hpcc:displayName="Max Persistent Idle Time(s)" hpcc:presetValue="60"
                              hpcc:tooltip="The maximum idle time in seconds (-1 for unlimited, 0 to disable)"/>
                <xs:attribute name="maxPersistentRequests" type="xs:integer"
                              hpcc:displayName="Max Persistent Requests" hpcc:presetValue="100"
                              hpcc:tooltip="Maximum number of query requests per persistent http connection. (-1 for unlimited, 0 to disable)"/>
                <xs:attribute name="minCompressLength" type="xs:integer"
                              hpcc:displayName="Minimum content length for compression" hpcc:presetValue="1000"
                              hpcc:tooltip="Minimum content length in bytes for the content to be compressed"/>
                <xs:attribute name="dafilesrvConnectTimeout" type="xs:nonNegativeInteger"
                              hpcc:displayName="Remote file connection timeout in seconds"
                              hpcc:presentValue="10"
                              hpcc:tooltip="Remote file access connection timeout in seconds"/>
                <xs:attribute name="dafilesrvReadTimeout" type="xs:nonNegativeInteger"
                              hpcc:displayName="Remote file read timeout in seconds"
                              hpcc:presentValue="10"
                              hpcc:tooltip="Remote file access read timeout in seconds"/>
            </xs:complexType>
        </xs:element>
    </hpcc:insert>
</xs:schema>
