initfiles/componentfiles/configschema/xsd/esp_service_smc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
        xmlns:hpcc="someuri">
    <xs:include schemaLocation="types.xsd"/>
    <hpcc:insert hpcc:schemaPath="/Environment/Software">
        <xs:element name="EspService" hpcc:class="component" hpcc:category="ESP Service" hpcc:itemType="espsmc"
                    hpcc:displayName="ESP SMC" minOccurs="0" maxOccurs="unbounded" hpcc:docid="SMC-T01">
            <xs:complexType>
                <xs:attributeGroup name="monitoring" hpcc:groupByName="Monitoring" hpcc:docid="SMC-T02">
                    <xs:attribute name="monitorDaliFileServer" type="xs:boolean" use="required" hpcc:presetValue="false"
                                  hpcc:displayName="Monior Dali File Server"
                                  hpcc:tooltip="Warn if dafilesrv process is not running on computers"/>
                    <xs:attribute name="excludePartitions" type="xs:string"
                                  hpcc:presetValue="/dev*,/sys,/proc/*" hpcc:displayName="Exclude Partitions"
                                  hpcc:tooltip="Comma, space or semicolon delimited list of partitions not to be monitored for free space"/>
                    <xs:attribute name="warnIfCpuLoadOver" type="xs:nonNegativeInteger"
                                  hpcc:presetValue="95" hpcc:displayName="Warn CPU Load"
                                  hpcc:tooltip="CPU load over this value is flagged as warning in monitoring output"/>
                    <xs:attribute name="warnIfFreeStorageUnder" type="xs:nonNegativeInteger"
                                  hpcc:presetValue="5" hpcc:displayName="Warn Free Storage"
                                  hpcc:tooltip="Available disk storage space under this value is flagged as warning in monitoring output"/>
                    <xs:attribute name="warnIfFreeMemoryUnder" type="xs:nonNegativeInteger"
                                  hpcc:presetValue="5" hpcc:displayName="Warn Free Memory"
                                  hpcc:tooltip="Available memory under this value is flagged as warning in monitoring output"/>
                </xs:attributeGroup>

                <xs:attributeGroup name="elkintegration">
                    <xs:attribute name="integrateKibana" type="xs:boolean" use="required" hpcc:presetValue="false"
                                  hpcc:tooltip="Declare if Kibana dashboard to be integrated in ECLWatch"/>
                    <xs:attribute name="kibanaAddress" type="xs:string" hpcc:presetValue="localhost"
                                  hpcc:tooltip="Address (ip/hostname) of Kibana server"/>
                    <xs:attribute name="kibanaPort" type="xs:nonNegativeInteger" hpcc:presetValue="5601"
                                  hpcc:tooltip="Port number of target Kibana server"/>
                    <xs:attribute name="kibanaEntryPointURI" type="xs:string"
                                  hpcc:tooltip="Declares the ECLWatch integration entry point URI for the target Kibana dashboard"/>
                    <xs:attribute name="reportLogStashHealth" type="xs:boolean" use="required" hpcc:presetValue="true"
                                  hpcc:tooltip="Declare if connectivity to LogStash nodes is to be reported in ECLWatch"/>
                    <xs:attribute name="logStashAdresses" type="xs:string"
                                  hpcc:tooltip="Declares the target LogStash nodes' adresses (semicolon seperated)"/>
                    <xs:attribute name="logStashPort" type="xs:nonNegativeInteger"
                                  hpcc:tooltip="Declares the target LogStash nodes' port"/>
                    <xs:attribute name="reportElasticHealth" type="xs:boolean" use="required" hpcc:presetValue="true"
                                  hpcc:tooltip="Declare if connectivity to Elastic Search nodes is to be reported in ECLWatch"/>
                    <xs:attribute name="elasticSearchAdresses" type="xs:string"
                                  hpcc:tooltip="Declares the target ElasticSearch nodes' adresses (semicolon seperated)"/>
                    <xs:attribute name="elasticSearchPort" type="xs:string"
                                  hpcc:tooltip="Declares the target LogStash nodes' port"/>
                </xs:attributeGroup>
                <xs:sequence>
                    <xs:element name="Properties" type="espservice_properties" minOccurs="0" maxOccurs="1"
                                hpcc:hidden="true"/>
                    <xs:annotation>
                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>insertXML</eventAction>
                            <eventData>
                                <itemType>espsmc</itemType>
                                <xml>
                                    <Properties defaultPort="8010" defaultResourcesBasedn="ou=SMC,ou=EspServices,ou=ecl"
                                                defaultSecurePort="18010" type="WsSMC"/>
                                </xml>
                            </eventData>
                        </xs:appinfo>

                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>insertXML</eventAction>
                            <eventData>
                                <itemType>espbinding</itemType>
                                <match>
                                    <!-- match the event node's (the created espbinding) "service" attribute value
                                         against all /Environment/Software/EspService nodes with a matching "name"
                                         attribute value (other rules limit this to at most one match) -->
                                    <eventNodeAttribute>service</eventNodeAttribute>
                                    <targetPath>/Environment/Software/EspService</targetPath>
                                    <targetAttribute>name</targetAttribute>
                                </match>
                                <xml>
                                    <Authenticate access="Read" description="Root access to SMC service" path="/"
                                                  required="Read" resource="SmcAccess"/>
                                    <AuthenticateFeature description="Access to SMC service" path="SmcAccess"
                                                         resource="SmcAccess" service="ws_smc"/>
                                    <AuthenticateFeature description="Access to thor queues" path="ThorQueueAccess"
                                                         resource="ThorQueueAccess" service="ws_smc"/>
                                    <AuthenticateFeature description="Access to roxie control commands"
                                                         path="RoxieControlAccess" resource="RoxieControlAccess"
                                                         service="ws_smc"/>
                                    <AuthenticateFeature description="Access to DFU" path="DfuAccess"
                                                         resource="DfuAccess" service="ws_dfu"/>
                                    <AuthenticateFeature description="Access to DFU XRef" path="DfuXrefAccess"
                                                         resource="DfuXrefAccess" service="ws_dfuxref"/>
                                    <AuthenticateFeature description="Access to machine information"
                                                         path="MachineInfoAccess" resource="MachineInfoAccess"
                                                         service="ws_machine"/>
                                    <AuthenticateFeature description="Access to SNMP metrics information"
                                                         path="MetricsAccess" resource="MetricsAccess"
                                                         service="ws_machine"/>
                                    <AuthenticateFeature description="Access to DFU workunits" path="DfuWorkunitsAccess"
                                                         resource="DfuWorkunitsAccess" service="ws_fs"/>
                                    <AuthenticateFeature description="Access to DFU exceptions"
                                                         path="DfuExceptionsAccess" resource="DfuExceptions"
                                                         service="ws_fs"/>
                                    <AuthenticateFeature description="Access to spraying files" path="FileSprayAccess"
                                                         resource="FileSprayAccess" service="ws_fs"/>
                                    <AuthenticateFeature description="Access to despraying of files"
                                                         path="FileDesprayAccess" resource="FileDesprayAccess"
                                                         service="ws_fs"/>
                                    <AuthenticateFeature description="Access to upload files to dropzone"
                                                         path="FileUploadAccess" resource="FileUploadAccess"
                                                         service="ws_fs"/>
                                    <AuthenticateFeature description="Access to files in dropzone" path="FileIOAccess"
                                                         resource="FileIOAccess" service="ws_fileio"/>
                                    <AuthenticateFeature description="Access to permissions for file scopes"
                                                         path="FileScopeAccess" resource="FileScopeAccess"
                                                         service="ws_access"/>
                                    <AuthenticateFeature description="Access to WS ECL service" path="WsEclAccess"
                                                         resource="WsEclAccess" service="ws_ecl"/>
                                    <AuthenticateFeature description="Access to cluster topology"
                                                         path="ClusterTopologyAccess" resource="ClusterTopologyAccess"
                                                         service="ws_topology"/>
                                    <AuthenticateFeature description="Access to own workunits" path="OwnWorkunitsAccess"
                                                         resource="OwnWorkunitsAccess" service="ws_workunits"/>
                                    <AuthenticateFeature description="Access to others&apos; workunits"
                                                         path="OthersWorkunitsAccess" resource="OthersWorkunitsAccess"
                                                         service="ws_workunits"/>
                                    <AuthenticateFeature description="Access to deploy workunits"
                                                         path="DeployWorkunitsAccess" resource="DeployWorkunitsAccess"
                                                         service="ws_workunits"/>
                                    <AuthenticateFeature description="Access to ECL direct service"
                                                         path="EclDirectAccess" resource="EclDirectAccess"
                                                         service="ecldirect"/>
                                    <AuthenticateFeature description="Access to ESDL configuration service"
                                                         path="ESDLConfigAccess" resource="ESDLConfigAccess"
                                                         service="ws_esdlconfig"/>
                                    <AuthenticateFeature description="Access to ELK integration service"
                                                         path="WsELKAccess" resource="WsELKAccess" service="ws_elk"/>
									<AuthenticateFeature description="Access to LogAccess service"
                                                         path="WsLogAccess" resource="WsLogAccess" service="ws_logaccess"/>
                                    <ProcessFilters>
                                        <Platform name="Windows">
                                            <ProcessFilter name="any">
                                                <Process name="dafilesrv"/>
                                            </ProcessFilter>
                                            <ProcessFilter multipleInstances="true" name="DfuServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EclCCServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EspProcess">
                                                <Process name="dafilesrv" remove="true"/>
                                            </ProcessFilter>
                                        </Platform>
                                        <Platform name="Linux">
                                            <ProcessFilter name="any">
                                                <Process name="dafilesrv"/>
                                            </ProcessFilter>
                                            <ProcessFilter multipleInstances="true" name="DfuServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EclCCServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EspProcess">
                                                <Process name="dafilesrv" remove="true"/>
                                            </ProcessFilter>
                                            <ProcessFilter name="GenesisServerProcess">
                                                <Process name="httpd"/>
                                                <Process name="atftpd"/>
                                                <Process name="dhcpd"/>
                                            </ProcessFilter>
                                        </Platform>
                                    </ProcessFilters>
                                </xml>
                            </eventData>
                        </xs:appinfo>
                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>addAttributeDependencies</eventAction>
                            <eventData>
                                <itemType>espbinding</itemType>
                                <!-- These are the attribute value dependencies to add -->
                                <attribute attributeName="protocol" attributeValue="http" dependentAttribute="port"
                                           dependentValue="8010"/>
                                <attribute attributeName="protocol" attributeValue="https" dependentAttribute="port"
                                           dependentValue="18010"/>
                                <match>
                                    <!-- same match criteria as the insertXML event above -->
                                    <eventNodeAttribute>service</eventNodeAttribute>
                                    <targetPath>/Environment/Software/EspService</targetPath>
                                    <targetAttribute>name</targetAttribute>
                                </match>
                            </eventData>
                        </xs:appinfo>

                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>setAttributeValue</eventAction>
                            <eventData>
                                <itemType>espbinding</itemType>
                                <attribute attributeName="resourcesBasedn"
                                           attributeValue="ou=SMC,ou=EspServices,ou=ecl"/>
                                <match>
                                    <!-- same match criteria as the insertXML event above -->
                                    <eventNodeAttribute>service</eventNodeAttribute>
                                    <targetPath>/Environment/Software/EspService</targetPath>
                                    <targetAttribute>name</targetAttribute>
                                </match>
                            </eventData>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:sequence>

                <xs:attributeGroup ref="buildInfo"/>
                <xs:attribute name="name" type="xs:string" use="required" hpcc:displayName="Name"
                              hpcc:autoGenerateType="prefix" hpcc:autoGenerateValue="EclWatch"
                              hpcc:uniqueKey="espservice_name" hpcc:tooltip="Name for this ESP service"/>
                <xs:attribute name="description" type="xs:string" hpcc:displayName="Description"
                              hpcc:tooltip="Description for this process"/>
                <xs:attribute name="syntaxCheckQueue" type="xs:string"
                              hpcc:displayName="Syntax Check Queue"
                              hpcc:tooltip="Queue Name of ECL server which is used for ECL Syntax Check"/>
                <xs:attribute name="pluginsPath" type="xs:string" hpcc:presetValue="${PLUGINS_PATH}"
                              hpcc:displayName="Plugins Path" hpcc:tooltip="Path where plugin files are deployed"/>
                <xs:attribute name="viewTimeout" type="xs:nonNegativeInteger" hpcc:presetValue="1000"
                              hpcc:displayName="View Timeout" hpcc:tooltip="timeout for XXXX (in seconds)"/>
                <xs:attribute name="clusterQueryStateThreadPoolSize" type="xs:nonNegativeInteger"
                              hpcc:presetValue="25" hpcc:displayName=""
                              hpcc:tooltip="Default thread pool size for checking query state on clusters"/>
                <xs:attribute name="AWUsCacheTimeout" type="xs:nonNegativeInteger" hpcc:presetValue="15"
                              hpcc:displayName="AWUs Cache Timeout"
                              hpcc:tooltip="timeout for archived WU search cache (in minutes)"/>
                <xs:attribute name="NodeGroupCacheMinutes" type="xs:nonNegativeInteger"
                              hpcc:presetValue="30" hpcc:displayName="Node Group Cache Minutes"
                              hpcc:tooltip="timeout for node group cache (in minutes)"/>
                <xs:attribute name="ActivityInfoCacheSeconds" type="xs:nonNegativeInteger"
                              hpcc:presetValue="10" hpcc:displayName="Activity Info Cache Sectonds"
                              hpcc:tooltip="timeout for activity info cache (in seconds)"/>
                <xs:attribute name="MachineUsageCacheMinutes" type="xs:nonNegativeInteger"
                              hpcc:presetValue="3" hpcc:displayName="Machine Usage Cache Minutes"
                              hpcc:tooltip="timeout for Component/TargetCluster/NodeGroup usage cache (in minutes)"/>
                <xs:attribute name="serverForArchivedECLWU" type="xs:string"
                              hpcc:displayName="Server For Archived ECLWU"
                              hpcc:tooltip="Specify Sasha server for archiving ECL workunits"/>
                <xs:attribute name="enableSystemUseRewrite" type="xs:boolean" hpcc:presetValue="false"
                              hpcc:displayName="Enable system Use Rewrite"
                              hpcc:tooltip="To disable ESP Service links for System Servers that use rewrite rules"/>
                <xs:attribute name="defaultTargetCluster" type="xs:string"
                              hpcc:displayName="Default Target Cluster"
                              hpcc:tooltip="Default target for published queries"/>
                <xs:attribute name="disableUppercaseTranslation" type="xs:boolean"
                              hpcc:presetValue="false" hpcc:displayName="Disable Uppercase Translation"
                              hpcc:tooltip="To disable upper case translation for filter values in ViewKeyFile function"/>
                <xs:attribute name="enableLogDaliConnection" type="xs:boolean" hpcc:presetValue="false"
                              hpcc:displayName="Enable Log Dali Connection"
                              hpcc:tooltip="Enable ESP/Dali Connection ID to be logged into esp.xml"/>
                <xs:attribute name="allowNewRoxieOnDemandQuery" type="xs:boolean"
                              hpcc:presetValue="false" hpcc:displayName="Allow New Roxie On Demand Query"
                              hpcc:tooltip="allow new queries to be used by roxie on demand and roxie browser"/>
                <xs:attributeGroup ref="monitoring"/>
                <xs:attributeGroup ref="elkintegration"/>
            </xs:complexType>
        </xs:element>
    </hpcc:insert>
</xs:schema>
