initfiles/componentfiles/configschema/xsd/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
#    HPCC SYSTEMS software Copyright (C) 2018 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
################################################################################
 -->
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
        xmlns:hpcc="someurl">
    <xs:simpleType name="percent">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nodeName">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-z0-9_\-]+"/>
            <!-- need regex to eliminate special characters -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SecurityManager">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:pattern value=""/>
            <!-- regex for d[.d[.d[.d]]] -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ipV4Address">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="\A(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="absolutePath">
        <xs:restriction base="xs:string">
            <xs:pattern value="/^\\/.*/"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="relativePath">
        <xs:restriction base="xs:string">
            <!-- xs:pattern value="/^\\/.*/"/   Need one! -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AutoTimeStampType">
        <xs:restriction base="xs:string" hpcc:autoType="timestamp"/>
    </xs:simpleType>

    <xs:simpleType name="AutoUseridType">
        <xs:restriction base="xs:string" hpcc:autoType="requestUser"/>
    </xs:simpleType>

    <xs:simpleType name="timeOfDay">
        <xs:restriction base="xs:string">
            <xs:pattern value="^([0-1]?\d|2[0-3])(?::([0-5]?\d))?(?::([0-5]?\d))?$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="computerNodeReference">
        <xs:attribute name="computer" hpcc:displayName="Computer" type="nodeName" use="required"
                      hpcc:sourceKey="computer_name"
                      hpcc:mirrorFrom="/Environment/Hardware/Computer[@name]"
                      hpcc:valueLimitRuleType="addDependencies_FromSiblingAttributeValue"
                      hpcc:valueLimitRuleData="/Environment/Hardware/Computer,name,netAddress,netAddress"/>
        <xs:attribute name="netAddress" hpcc:displayName="Net Address" type="ipV4Address" use="required"
                      hpcc:readOnly="true"
                      hpcc:sourceKey="computer_netaddress"
                      hpcc:mirrorFrom="/Environment/Hardware/Computer[@netAddress]"/>
    </xs:attributeGroup>

    <xs:complexType name="hwinstance">
        <xs:sequence>
            <xs:element name="Instance" hpcc:displayName="Instances" hpcc:class="elementSet" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attributeGroup ref="computerNodeReference"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="usernotes">
        <xs:seqeunce>
            <xs:element name="Notes" hpcc:displayName="Notes" hpcc:class="elementSet" minOccurs="1"
                        maxOccurs="unbounded"/>
            <xs:complexType name="note">
                <xs:sequence>
                    <xs:element name="Note" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="severity" hpcc:displayName="Severity" use="optional" hpcc:presetValue="Minor"
                              hpcc:tooltip="Significance of this note">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Minor"/>
                            <xs:enumeration value="Normal"/>
                            <xs:enumeration value="Critical"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="date" hpcc:displayName="Date/Time" type="AutoTimeStampType" use="optional"
                              hpcc:readOnly="true" hpcc:tooltip="Date and time this note was entered"/>
                <xs:attribute name="computer" hpcc:displayName="Computer" type="xs:string" use="optional"
                              hpcc:readOnly="true" hpcc:tooltip="Computer from which this note was entered"/>
                <xs:attribute name="user" hpcc:displayName="User" type="AutoUseridType" use="optional"
                              hpcc:readOnly="true" hpcc:tooltip="User account from which this note was entered"/>
            </xs:complexType>
        </xs:seqeunce>
    </xs:complexType>

    <xs:complexType name="espservice_properties">
        <xs:sequence>
            <xs:element name="Authenticate" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="access" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="path" type="xs:string"/>
                    <xs:attribute name="required" type="xs:string"/>
                    <xs:attribute name="resource" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="AuthenticateFeature" hpcc:class="elementSet" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="path" type="xs:string"/>
                    <xs:attribute name="resource" type="xs:string"/>
                    <xs:attribute name="service" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessFilters" hpcc:hidden="true" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Platform" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ProcessFilter" minOccurs="0" type="xs:string">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Process" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                            <xs:attribute name="multipleInstances" type="xs:boolean"
                                                          hpcc:presetValue="false" use="optional"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Windows"/>
                                            <xs:enumeration value="Linux"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="defaultPort" type="xs:string"/>
        <xs:attribute name="defaultResourcesBasedn" type="xs:string"/>
        <xs:attribute name="defaultSecurePort" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>

    <xs:attributeGroup name="buildInfo" hpcc:groupByName="Attributes">
        <xs:attribute name="build" type="xs:string" use="required" hpcc:hidden="true" hpcc:autoGenerateType="fixedValue"
                      hpcc:autoGenerateValue="_"/>
        <xs:attribute name="buildSet" type="xs:string" use="required" hpcc:hidden="true"
                      hpcc:autoGenerateType="configProperty" hpcc:autoGenerateValue="componentName"/>
    </xs:attributeGroup>


    <xs:attributeGroup name="secmgrplugin_reqd">
        <xs:attribute name="type" type="SecurityManager" use="required" hpcc:hidden="true" hpcc:readOnly="true"/>
        <xs:attribute name="libName" type="xs:string" use="required" hpcc:displayName="Library Name"
                      hpcc:tooltip="The Security Manager plugin library name (.so)"/>
        <xs:attribute name="instanceFactoryName" type="xs:string" use="required"
                      hpcc:displayName="Instance Factory Method Name" hpcc:presetValue="createInstance"
                      hpcc:tooltip="Name of the factory method to create the Security Manager instacne"/>
        <xs:attribute name="name" type="xs:string" use="required" hpcc:displayName="Name"
                      hpcc:uniqueKey="secmgrplugin_name"
                      hpcc:tooltip="Name for this SingleUser Security Manager instance"/>
    </xs:attributeGroup>
</xs:schema>
