initfiles/componentfiles/configschema/xsd/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
#    HPCC SYSTEMS software Copyright (C) 2018 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
################################################################################
 -->
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
        xmlns:hpcc="someurl">
    <xs:simpleType name="percent">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nodeName">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-z0-9_\-]+"/>
            <!-- need regex to eliminate special characters -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SecurityManager">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:pattern value=""/>
            <!-- regex for d[.d[.d[.d]]] -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cronSchedule">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="^(\*|([0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9])|\*\/([0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9])) (\*|([0-9]|1[0-9]|2[0-3])|\*\/([0-9]|1[0-9]|2[0-3])) (\*|([1-9]|1[0-9]|2[0-9]|3[0-1])|\*\/([1-9]|1[0-9]|2[0-9]|3[0-1])) (\*|([1-9]|1[0-2])|\*\/([1-9]|1[0-2])) (\*|([0-6])|\*\/([0-6]))$"/>
                    <!--value="^(\*|((\*\/)?[1-5]?[0-9])) (\*|((\*\/)?[1-5]?[0-9])) (\*|((\*\/)?(1?[0-9]|2[0-3]))) (\*|((\*\/)?([1-9]|[12][0-9]|3[0-1]))) (\*|((\*\/)?([1-9]|1[0-2]))) (\*|((\*\/)?[0-6]))$"/>-->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ipV4Address">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|[.]$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="absolutePath">
        <xs:restriction base="xs:string">
            <!--<xs:pattern value="/^\\/.*/"/>-->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="relativePath">
        <xs:restriction base="xs:string">
            <!-- xs:pattern value="/^\\/.*/"/   Need one! -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AutoTimeStampType">
        <xs:restriction base="xs:string" hpcc:autoType="timestamp"/>
    </xs:simpleType>

    <xs:simpleType name="AutoUseridType">
        <xs:restriction base="xs:string" hpcc:autoType="requestUser"/>
    </xs:simpleType>

    <xs:simpleType name="timeOfDay">
        <xs:restriction base="xs:string">
            <xs:pattern value="^([0-1]?\d|2[0-3])(?::([0-5]?\d))?(?::([0-5]?\d))?$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="computerNodeReference">
        <xs:attribute name="computer" hpcc:displayName="Computer" type="nodeName" use="required"
                      hpcc:sourceKey="computer_name"
                      hpcc:mirrorFrom="/Environment/Hardware/Computer[@name]"
                      hpcc:valueLimitRuleType="addDependencies_FromSiblingAttributeValue"
                      hpcc:valueLimitRuleData="/Environment/Hardware/Computer,name,netAddress,netAddress"/>
        <xs:attribute name="netAddress" hpcc:displayName="Net Address" type="ipV4Address" use="required"
                      hpcc:readOnly="true"
                      hpcc:sourceKey="computer_netaddress"
                      hpcc:mirrorFrom="/Environment/Hardware/Computer[@netAddress]"/>
    </xs:attributeGroup>

    <xs:complexType name="hwinstance">
        <xs:sequence>
            <xs:element name="Instance" hpcc:displayName="Instances" hpcc:class="elementSet" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attributeGroup ref="computerNodeReference"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="usernotes">
        <xs:sequence>
            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="severity" hpcc:displayName="Severity" hpcc:presetValue="Minor"
                                  hpcc:tooltip="Significance of this note">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Minor"/>
                                <xs:enumeration value="Normal"/>
                                <xs:enumeration value="Critical"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="date" hpcc:displayName="Date/Time" type="AutoTimeStampType"
                                  hpcc:readOnly="true" hpcc:tooltip="Date and time this note was entered"/>
                    <xs:attribute name="computer" hpcc:displayName="Computer" type="xs:string"
                                  hpcc:readOnly="true" hpcc:tooltip="Computer from which this note was entered"/>
                    <xs:attribute name="user" hpcc:displayName="User" type="AutoUseridType"
                                  hpcc:readOnly="true" hpcc:tooltip="User account from which this note was entered"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="espservice_properties">
        <xs:sequence>
            <xs:element name="Authenticate" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="access" type="xs:string"/>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="path" type="xs:string"/>
                    <xs:attribute name="required" type="xs:string"/>
                    <xs:attribute name="resource" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="AuthenticateFeature" hpcc:class="elementSet" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="description" type="xs:string"/>
                    <xs:attribute name="path" type="xs:string"/>
                    <xs:attribute name="resource" type="xs:string"/>
                    <xs:attribute name="service" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessFilters" hpcc:hidden="true" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Platform" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ProcessFilter" minOccurs="0" type="xs:string">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Process" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                            <xs:attribute name="multipleInstances" type="xs:boolean"
                                                          hpcc:presetValue="false"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Windows"/>
                                            <xs:enumeration value="Linux"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="bindingType" type="xs:string" hpcc:displayName="Binding Type"
                      hpcc:tooltip=""/>
        <xs:attribute name="defaultPort" type="xs:string" hpcc:displayName="Default Port"
                      hpcc:tooltip=""/>
        <xs:attribute name="defaultResourcesBasedn" type="xs:string" hpcc:displayName="Default Resources Base DN"
                      hpcc:tooltip=""/>
        <xs:attribute name="defaultSecurePort" type="xs:string" hpcc:displayName="Default Secure Port"
                      hpcc:tooltip=""/>
        <xs:attribute name="type" type="xs:string" hpcc:displayName="Type"
                      hpcc:tooltip=""/>
        <xs:attribute name="plugin" type="xs:string" hpcc:displayName="Plugin"
                      hpcc:tooltip=""/>
    </xs:complexType>

    <xs:attributeGroup name="buildInfo" hpcc:groupByName="Attributes">
        <xs:attribute name="build" type="xs:string" use="required" hpcc:hidden="true" hpcc:autoGenerateType="fixedValue"
                      hpcc:autoGenerateValue="_"/>
        <xs:attribute name="buildSet" type="xs:string" use="required" hpcc:hidden="true"
                      hpcc:autoGenerateType="configProperty" hpcc:autoGenerateValue="componentName"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="secmgrplugin_reqd">
        <xs:attribute name="type" type="SecurityManager" use="required" hpcc:hidden="true" hpcc:readOnly="true"/>
        <xs:attribute name="libName" type="xs:string" use="required" hpcc:displayName="Library Name"
                      hpcc:tooltip="The Security Manager plugin library name (.so)"/>
        <xs:attribute name="instanceFactoryName" type="xs:string" use="required"
                      hpcc:displayName="Instance Factory Method Name" hpcc:presetValue="createInstance"
                      hpcc:tooltip="Name of the factory method to create the Security Manager instacne"/>
        <xs:attribute name="name" type="xs:string" use="required" hpcc:displayName="Name"
                      hpcc:uniqueKey="secmgrplugin_name"
                      hpcc:tooltip="Name for this SingleUser Security Manager instance"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="loggingagent_reqd">
        <!--This attribute used to find logging agents of a particular type-->
        <xs:attribute name="type" type="xs:string" use="required" hpcc:hidden="true" hpcc:forcedConfigValue="DefaultLoggingAgent"/>
        <xs:attribute name="name" type="xs:string" hpcc:displayName="Name" use="required" hpcc:uniqueKey="logginagent_name"
                      hpcc:autoGenerateType="prefix_" hpcc:autoGenerateValue="logagent"
                      hpcc:tooltip="Name for this logging agent"/>
        <xs:attribute name="description" type="xs:string" hpcc:displayName="Description" hpcc:presetValue="Logging Agent Description"
                      hpcc:tooltip="Description for this logging agent"/>
        <xs:attribute name="MaxTriesGTS" type="xs:nonNegativeInteger" hpcc:presetValue="3"
                      hpcc:tooltip="Maximum retries of sending GetTransactionSeed requests when failed to get a response"/>
        <xs:attribute name="MaxTriesRS" type="xs:nonNegativeInteger" hpcc:displayName="Maximum Send Retries" hpcc:presetValue="3"
                      hpcc:tooltip="Maximum retries of sending LogUpdate requests when failed to get a response"/>
        <xs:attribute name="MaxLogQueueLength" type="xs:nonNegativeInteger" hpcc:displayName="Maximum Queue Length" hpcc:presetValue="500000"
                      hpcc:tooltip="maximum queue length for log update requests"/>
        <xs:attribute name="QueueSizeSignal" type="xs:nonNegativeInteger" hpcc:displayName="Queue Size Signal" hpcc:presetValue="10000"
                      hpcc:tooltip="Add warning to esp log when the queue length of log update requests reaches this value"/>
        <xs:attribute name="FailSafe" type="xs:boolean" hpcc:displayName="Enable Failsafe" hpcc:presetValue="true" hpcc:tooltip="Enable FailSafe functionality"/>
        <xs:attribute name="FailSafeLogsDir" type="xs:string" hpcc:displayName="Failsafe Log Directory" hpcc:requiredIf=".[@FailSafe]"
                      hpcc:tooltip="Log directory where Failsafe files are stored"/>
        <xs:attribute name="logSourcePath" type="xs:string" hpcc:displayName="Log Source Path" use="required"
                      hpcc:tooltip="The xpath inside a log request for LogSource"/>
        <xs:attribute name="defaultTransaction" type="xs:string" hpcc:displayName="Default Transaction"
                      hpcc:tooltip="if no applicaqtion name is given, which applicaqtion name should be used to get a transaction seed?"/>
        <xs:attribute name="loggingTransaction" type="xs:string" hpcc:displayName="Logging Transaction"
                      hpcc:tooltip="The applicaqtion name used to get a transaction seed for this logging agent"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="loggingagent_logsourcemap">
        <xs:attribute name="name" type="xs:string" hpcc:displayName="Name" use="required"/>
        <xs:attribute name="mapToDB" type="xs:string" hpcc:displayName="Map To DB" use="required"/>
        <xs:attribute name="mapToLogGroup" type="xs:string" hpcc:displayName="Map To Log Group" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="BaseAttributes">
        <xs:attribute name="include" type="xs:string" hpcc:displayName="Include"/>
        <xs:attribute name="name" type="xs:string" hpcc:displayname="Name"/>
    </xs:attributeGroup>
</xs:schema>
