testing/esp/esdlcmd/key/wsexctest3-wsdl-default.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:hpccsystems:ws:wsexctest3" targetNamespace="urn:hpccsystems:ws:wsexctest3">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hpccsystems:ws:wsexctest3">
      <xsd:element name="string" nillable="true" type="xsd:string"/>
      <xsd:complexType name="EspException">
        <xsd:all>
          <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Audience" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEspException">
        <xsd:sequence>
          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Exception" type="tns:EspException" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Exceptions" type="tns:ArrayOfEspException"/>
      <xsd:element name="InlineExceptionsRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="RequestString" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WsExcTest3PingRequest">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SoapFaultExceptionsRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="RequestString" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InlineExceptionsResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Exceptions" type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1"/>
            <xsd:element minOccurs="0" name="ResponseString" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WsExcTest3PingResponse">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SoapFaultExceptionsResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="ResponseString" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EspSoapFault">
    <wsdl:part name="parameters" element="tns:Exceptions"/>
  </wsdl:message>
  <wsdl:message name="InlineExceptionsSoapIn">
    <wsdl:part name="parameters" element="tns:InlineExceptionsRequest"/>
  </wsdl:message>
  <wsdl:message name="InlineExceptionsSoapOut">
    <wsdl:part name="parameters" element="tns:InlineExceptionsResponse"/>
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:WsExcTest3PingRequest"/>
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:WsExcTest3PingResponse"/>
  </wsdl:message>
  <wsdl:message name="SoapFaultExceptionsSoapIn">
    <wsdl:part name="parameters" element="tns:SoapFaultExceptionsRequest"/>
  </wsdl:message>
  <wsdl:message name="SoapFaultExceptionsSoapOut">
    <wsdl:part name="parameters" element="tns:SoapFaultExceptionsResponse"/>
  </wsdl:message>
  <wsdl:portType name="WsExcTest3ServiceSoap">
    <wsdl:operation name="InlineExceptions">
      <wsdl:input message="tns:InlineExceptionsSoapIn"/>
      <wsdl:output message="tns:InlineExceptionsSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn"/>
      <wsdl:output message="tns:PingSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="SoapFaultExceptions">
      <wsdl:input message="tns:SoapFaultExceptionsSoapIn"/>
      <wsdl:output message="tns:SoapFaultExceptionsSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsExcTest3ServiceSoap" type="tns:WsExcTest3ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="InlineExceptions">
      <soap:operation style="document" soapAction="WsExcTest3/InlineExceptions?ver_=0.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation style="document" soapAction="WsExcTest3/Ping?ver_=0.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SoapFaultExceptions">
      <soap:operation style="document" soapAction="WsExcTest3/SoapFaultExceptions?ver_=0.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsExcTest3">
    <wsdl:port name="WsExcTest3ServiceSoap" binding="tns:WsExcTest3ServiceSoap">
      <soap:address location="localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
