testing/esp/esdlcmd/key/wsusemethodname.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:hpccsystems:ws:wsusemethodname@ver=1" targetNamespace="urn:hpccsystems:ws:wsusemethodname@ver=1">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hpccsystems:ws:wsusemethodname@ver=1">
      <xsd:element name="string" nillable="true" type="xsd:string"/>
      <xsd:complexType name="EspException">
        <xsd:all>
          <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Audience" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEspException">
        <xsd:sequence>
          <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Exception" type="tns:EspException" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Exceptions" type="tns:ArrayOfEspException"/>
      <xsd:element name="Apple">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Flavor" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Color" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Orange">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Flavor" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Color" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Ping">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Unique">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Bar" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Baz" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FruitResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Eat" type="xsd:int"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrangeResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Peels" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WsUseMethodNamePingResponse">
        <xsd:complexType>
          <xsd:all/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FooResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="Bingo" type="xsd:int"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EspSoapFault">
    <wsdl:part name="parameters" element="tns:Exceptions"/>
  </wsdl:message>
  <wsdl:message name="AppleSoapIn">
    <wsdl:part name="parameters" element="tns:Apple"/>
  </wsdl:message>
  <wsdl:message name="AppleSoapOut">
    <wsdl:part name="parameters" element="tns:FruitResponse"/>
  </wsdl:message>
  <wsdl:message name="OrangeSoapIn">
    <wsdl:part name="parameters" element="tns:Orange"/>
  </wsdl:message>
  <wsdl:message name="OrangeSoapOut">
    <wsdl:part name="parameters" element="tns:OrangeResponse"/>
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping"/>
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:WsUseMethodNamePingResponse"/>
  </wsdl:message>
  <wsdl:message name="UniqueSoapIn">
    <wsdl:part name="parameters" element="tns:Unique"/>
  </wsdl:message>
  <wsdl:message name="UniqueSoapOut">
    <wsdl:part name="parameters" element="tns:FooResponse"/>
  </wsdl:message>
  <wsdl:portType name="WsUseMethodNameServiceSoap">
    <wsdl:operation name="Apple">
      <wsdl:input message="tns:AppleSoapIn"/>
      <wsdl:output message="tns:AppleSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="Orange">
      <wsdl:input message="tns:OrangeSoapIn"/>
      <wsdl:output message="tns:OrangeSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn"/>
      <wsdl:output message="tns:PingSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="Unique">
      <wsdl:input message="tns:UniqueSoapIn"/>
      <wsdl:output message="tns:UniqueSoapOut"/>
      <wsdl:fault name="excfault" message="tns:EspSoapFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsUseMethodNameServiceSoap" type="tns:WsUseMethodNameServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Apple">
      <soap:operation style="document" soapAction="WsUseMethodName/Apple?ver_=1.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Orange">
      <soap:operation style="document" soapAction="WsUseMethodName/Orange?ver_=1.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation style="document" soapAction="WsUseMethodName/Ping?ver_=1.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Unique">
      <soap:operation style="document" soapAction="WsUseMethodName/Unique?ver_=1.000000"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="excfault">
        <soap:fault name="excfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsUseMethodName">
    <wsdl:port name="WsUseMethodNameServiceSoap" binding="tns:WsUseMethodNameServiceSoap">
      <soap:address location="localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
